# Data Analytics Fall 2025 &mdash; Exercises 2

### XXXXX XXXXX

Last modified: Tue 16 Sep before session

- Five problems + round 1 peer review
- Theme: data wrangling with **pandas** (please use pandas in each problem)
- Please make both your code and your notebook readable
- Keep your originals up to date by running the code cell below:

In [205]:
import os
os.system('/usr/bin/bash /home/varpha/dan/config.sh');

Configuring...

  created the ~/dan directory tree
  changed all ~/dan subdir permissions to 700
  removed any broken filelinks under ~/dan
  copied filelinks from /home/varpha/dan to ~/dan
  removed any python cache dirs
  creating answers workbook (Darren's idea)
  answers workbook /home/XXXXX/dan/private/exrc_02/exrc_02_answers.ipynb already exists, skipping copy

  upgrading jupyterlab etc. (may take a while)...
  done (you may need to restart your server in order for the upgrades to take effect)

All Done!

Please run this config script whenever you start working on the hub.

If you encountered errors, please re-run the script. If the errors persist, please report to our Teams channel.

Also, please do 'File -> Hub Control Panel -> Stop My Server'
whenever you stop working on the hub.

Thank you!

## Round 1 peer review

- Submit your round 01 solutions in the **round 01** menu <br>
  (run `/home/varpha/dan/menu.py` in the terminal).
- After some effort, you should be able to access an anonymized submission of another student.

Write a few paragraphs of text (plain or markdown) into your favourite text editor and submit that text in  the **round 02** menu. 

Please address the following issues:
 
- Are the solutions okay? Can you understand / run the code?<br/>
  (as opposed to some wishful brainless copy-pasting done in a hurry)
- What do you think about the solutions? To what extent has AI been used blindly without explaining the usage?
- How many points out of 5 do the solutions deserve as a whole?
- How many points out of 5 would you give to yourself and why?
- Any feedback or comments to Harri?
  
Harri will read and grade your reviews as follows:
- nonexistent or nearly so = 0p
- something written = 1-2p
- well written 3p.

## Problem 1. Profiles

The file `private/exrc_02/data/XXXXX_prob01_profiles.csv` contains some user profiles.
Read the csv into a pandas DataFrame and reorganize it as follows:

a) Separate the name and address columns so that there are separate columns for
- first name
- last name
- street address
- state
- postal code.

Keep also the ssn, username, sex, mail and birthdate columns. Drop all the other columns.

b) Print all entries where the last name begins with the letter A, sorted by:
- sex (ladies first)
- state (alphabetically)
- age (youngest first).

I.e. print the entries three times, in these three different ways.

In [3]:
from getpass import getuser
import pandas as pd
user = getuser()
csv_location = f'/home/varpha/dan/private/{user}' + \
                f'/exrc_02/data/{user}_prob01_profiles.csv'
csv_location = "ah4323_prob01_profiles.csv"
df = pd.read_csv(csv_location)

### Problem 1a
After observation, the full name is attached with job title. Therefore, it is neccessary to remove prefixes and suffixes such as Dr.X Y PhD.
There are some built-in functions of pandas library supporting to handle some issue such as replace with regular expression, split with delimiter.
Reference:
- https://pandas.pydata.org/docs/user_guide/indexing.html#basics
- https://pandas.pydata.org/docs/reference/api/pandas.Series.str.replace.html#pandas.Series.str.replace
- https://www.geeksforgeeks.org/python/regular-expression-python-examples/
- https://pandas.pydata.org/docs/reference/api/pandas.Series.str.split.html
- https://pandas.pydata.org/docs/user_guide/text.html#splitting-and-replacing-strings

In [4]:
#sprefixes and suffixes of full name is removed with regular expression  
# Use meta-characters such as  ^ means starting with Mr. or Dr. and \s* means any white space or no white space. If it matches then it replace with nothing.
no_prefixes = df["name"].str.replace('^(Mr.|Dr.)s*','', regex=True)
# Remove suffixes with $ means ends with PhD or DDS ... and no white space. 
no_suffixes = no_prefixes.str.replace('s*(PhD|DDS|MD|DVM)$','', regex=True)
#Split full name by white space and split into two columns.
name = no_suffixes.str.split(' ', expand=True, n=1)
#dataframe with string could be accessed with get  or [] 
df["first name"] =  name[0]
df["last name"] = name[1]
# Split the whole address into street address and the rest

address =  df["address"].str.split('\n')
df["street address"] = address.str[0]
#split the rest of address into three parts, the last one [-1] is the postal code and second last one [-2] is state
state_code = address.str[1].str.split(' ')
df["postal code"] = state_code.str[-1]
df["state"] = state_code.str[-2]
#combine all of field with [[field, field]] 
df = df[["first name", "last name","street address","state","postal code","ssn","username","sex","mail","birthdate"]]
df.head(10)

,first name,last name,street address,state,postal code,ssn,username,sex,mail,birthdate
0,Michael,Hebert,206 William Stream,HI,29419,452-50-6924,russell23,M,robertnguyen@yahoo.com,1987-12-24
1,Emily,Parker,8871 Diaz Land,MD,65719,738-16-1005,caitlinanthony,F,annaramos@hotmail.com,1942-03-10
2,Sylvia,James,USNV Cannon,AA,37496,773-80-3323,anthony18,F,michael45@hotmail.com,2005-01-01
3,Kelly,Edwards,615 Jamie Fields Suite 849,KY,02301,171-20-4761,reedjames,F,bartlettdanielle@yahoo.com,1914-07-05
4,Ronald,Huff,8193 Jensen Overpass,RI,74715,870-48-6252,uprince,M,jonesjoseph@yahoo.com,1930-05-11
5,Darren,Smith,237 Barr Courts Suite 750,DE,02297,774-49-8839,jameschristopher,M,michaelwilson@hotmail.com,2015-02-13
6,Ashley,Smith,3548 Murphy Square Suite 253,MP,41931,162-48-2753,vrichards,F,mitchelltiffany@yahoo.com,1944-06-25
7,Justin,Edwards,985 Rodriguez Shores,KS,23375,621-35-5815,hughesemily,M,williamvelez@hotmail.com,2010-07-27
8,Antonio,Porter,Unit 7846 Box 2605,AP,03305,620-38-1679,keith75,M,wendy00@hotmail.com,1994-05-26
9,Gregory,Williams,2531 Amanda Curve Apt. 964,NE,41899,898-05-3838,zschultz,M,charlesgentry@gmail.com,1981-03-29

### Problem 1b
When implementing the sorting values. It shows warning with **SettingWithCopyWarning: A value is trying to be set on a copy of a slice from a DataFrame**.
The copy() solves the issue. It is possible to check reference.
Preference:
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html
- https://pandas.pydata.org/docs/reference/api/pandas.Series.str.startswith.html#pandas.Series.str.startswith
- https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#evaluation-order-matters

In [5]:
#Dataframe where last name starts with A
data = df[df["last name"].str.startswith('A')].copy()
#sort by sex and by default it is ascending and F is first
ladies_first = data.sort_values(by = ["sex"])
#The same as ladies_first, it starts with 'A' first
state =  data.sort_values(by = ["state"])
#Convert this birthdate to real datetime value
data["birthdate"] = pd.to_datetime(data["birthdate"])
#pass False to ascending, it means the youngest is sorted first
age = data.sort_values(by = ["birthdate"], ascending = False)
print("Sort by ladies first:") 
print(ladies_first)
print("Sort by state:")
print(state)
print("Sort by age( youngest first):")
age

Sort by ladies first:
    first name  last name                    street address state postal code  \
94      Alyssa   Anderson      12509 Jordan Rapid Suite 221    RI       67312
117   Patricia    Andrade                  037 Warner Place    VI       46571
164   Kathleen     Arroyo       7433 Joshua Light Suite 423    GU       35854
172     Gloria    Aguilar         435 Escobar Wall Apt. 304    ME       71133
221    Jessica   Anderson      323 Vasquez Village Apt. 866    ND       62196
230       Beth   Arellano     3585 Tanner Mission Suite 928    NM       91034
236    Chelsea      Adams       560 Cynthia Summit Apt. 271    MN       51695
294     Andrea    Andrews      620 Sanders Summit Suite 382    NY       95796
356    Melinda      Allen                    736 Reese Loaf    FL       60678
378    Rebecca      Allen                  827 Jason Island    PA       29406
15     Spencer     Arnold          2292 Dyer Park Suite 698    HI       30374
40       David   Anderson  9299 Kimberly Mountains Apt. 160    GA       66995
52      Jerome     Adkins         5763 Ashley View Apt. 054    NJ       33403
130    Michael      Allen         8032 Yvonne Cove Apt. 472    MP       87536
233      Roger   Anderson     1900 Bradley Skyway Suite 346    WY       83697
311     Darren  Alexander      67790 Brandon Wells Apt. 209    FM       92577

             ssn         username sex                       mail   birthdate
94   618-23-7085    michaelmartin   F        kmiller@hotmail.com  1997-08-23
117  485-57-5914  robersonbeverly   F     brownjames@hotmail.com  1975-12-30
164  701-62-8909        michael06   F       hollyweber@yahoo.com  1949-02-24
172  082-24-7955      ecunningham   F  jennifersanchez@gmail.com  1912-02-22
221  475-87-5012  justinrodriguez   F        msnyder@hotmail.com  1938-02-06
230  579-46-9356        tanyakemp   F         ldoyle@hotmail.com  1916-08-11
236  392-79-6259        phyllis60   F      kelseydavis@gmail.com  1946-12-12
294  430-97-1375        fbartlett   F        natalie15@yahoo.com  1929-10-24
356  607-43-8328  destinygonzalez   F          bross@hotmail.com  1921-02-21
378  606-20-1906         afreeman   F    cherylbuckley@gmail.com  1958-04-02
15   839-68-0180      justingrant   M   millerjennifer@gmail.com  2002-06-11
40   863-94-6652           bsmith   M          cjensen@gmail.com  2007-05-06
52   891-40-6262        htrujillo   M         teresa97@gmail.com  1938-07-02
130  417-66-5820         vbaldwin   M        danderson@gmail.com  1960-05-24
233  557-08-4915        jeffrey73   M     mandystone@hotmail.com  2019-12-14
311  202-81-9617     lawsoneugene   M     sblankenship@gmail.com  1964-06-17
Sort by state:
    first name  last name                    street address state postal code  \
356    Melinda      Allen                    736 Reese Loaf    FL       60678
311     Darren  Alexander      67790 Brandon Wells Apt. 209    FM       92577
40       David   Anderson  9299 Kimberly Mountains Apt. 160    GA       66995
164   Kathleen     Arroyo       7433 Joshua Light Suite 423    GU       35854
15     Spencer     Arnold          2292 Dyer Park Suite 698    HI       30374
172     Gloria    Aguilar         435 Escobar Wall Apt. 304    ME       71133
236    Chelsea      Adams       560 Cynthia Summit Apt. 271    MN       51695
130    Michael      Allen         8032 Yvonne Cove Apt. 472    MP       87536
221    Jessica   Anderson      323 Vasquez Village Apt. 866    ND       62196
52      Jerome     Adkins         5763 Ashley View Apt. 054    NJ       33403
230       Beth   Arellano     3585 Tanner Mission Suite 928    NM       91034
294     Andrea    Andrews      620 Sanders Summit Suite 382    NY       95796
378    Rebecca      Allen                  827 Jason Island    PA       29406
94      Alyssa   Anderson      12509 Jordan Rapid Suite 221    RI       67312
117   Patricia    Andrade                  037 Warner Place    VI       46571
233      Roger   Anderson     1900 Bradley Skyway Suite 346    WY       83697

             ssn         username sex                       mail   birthdate
356  607-43-8328  destinygonzalez   F          bross@hotmail.com  1921-02-21
311  202-81-9617     lawsoneugene   M     sblankenship@gmail.com  1964-06-17
40   863-94-6652           bsmith   M          cjensen@gmail.com  2007-05-06
164  701-62-8909        michael06   F       hollyweber@yahoo.com  1949-02-24
15   839-68-0180      justingrant   M   millerjennifer@gmail.com  2002-06-11
172  082-24-7955      ecunningham   F  jennifersanchez@gmail.com  1912-02-22
236  392-79-6259        phyllis60   F      kelseydavis@gmail.com  1946-12-12
130  417-66-5820         vbaldwin   M        danderson@gmail.com  1960-05-24
221  475-87-5012  justinrodriguez   F        msnyder@hotmail.com  1938-02-06
52   891-40-6262        htrujillo   M         teresa97@gmail.com  1938-07-02
230  579-46-9356        tanyakemp   F         ldoyle@hotmail.com  1916-08-11
294  430-97-1375        fbartlett   F        natalie15@yahoo.com  1929-10-24
378  606-20-1906         afreeman   F    cherylbuckley@gmail.com  1958-04-02
94   618-23-7085    michaelmartin   F        kmiller@hotmail.com  1997-08-23
117  485-57-5914  robersonbeverly   F     brownjames@hotmail.com  1975-12-30
233  557-08-4915        jeffrey73   M     mandystone@hotmail.com  2019-12-14
Sort by age( youngest first):

,first name,last name,street address,state,postal code,ssn,username,sex,mail,birthdate
233,Roger,Anderson,1900 Bradley Skyway Suite 346,WY,83697,557-08-4915,jeffrey73,M,mandystone@hotmail.com,2019-12-14
40,David,Anderson,9299 Kimberly Mountains Apt. 160,GA,66995,863-94-6652,bsmith,M,cjensen@gmail.com,2007-05-06
15,Spencer,Arnold,2292 Dyer Park Suite 698,HI,30374,839-68-0180,justingrant,M,millerjennifer@gmail.com,2002-06-11
94,Alyssa,Anderson,12509 Jordan Rapid Suite 221,RI,67312,618-23-7085,michaelmartin,F,kmiller@hotmail.com,1997-08-23
117,Patricia,Andrade,037 Warner Place,VI,46571,485-57-5914,robersonbeverly,F,brownjames@hotmail.com,1975-12-30
311,Darren,Alexander,67790 Brandon Wells Apt. 209,FM,92577,202-81-9617,lawsoneugene,M,sblankenship@gmail.com,1964-06-17
130,Michael,Allen,8032 Yvonne Cove Apt. 472,MP,87536,417-66-5820,vbaldwin,M,danderson@gmail.com,1960-05-24
378,Rebecca,Allen,827 Jason Island,PA,29406,606-20-1906,afreeman,F,cherylbuckley@gmail.com,1958-04-02
164,Kathleen,Arroyo,7433 Joshua Light Suite 423,GU,35854,701-62-8909,michael06,F,hollyweber@yahoo.com,1949-02-24
236,Chelsea,Adams,560 Cynthia Summit Apt. 271,MN,51695,392-79-6259,phyllis60,F,kelseydavis@gmail.com,1946-12-12
52,Jerome,Adkins,5763 Ashley View Apt. 054,NJ,33403,891-40-6262,htrujillo,M,teresa97@gmail.com,1938-07-02
221,Jessica,Anderson,323 Vasquez Village Apt. 866,ND,62196,475-87-5012,justinrodriguez,F,msnyder@hotmail.com,1938-02-06
294,Andrea,Andrews,620 Sanders Summit Suite 382,NY,95796,430-97-1375,fbartlett,F,natalie15@yahoo.com,1929-10-24
356,Melinda,Allen,736 Reese Loaf,FL,60678,607-43-8328,destinygonzalez,F,bross@hotmail.com,1921-02-21
230,Beth,Arellano,3585 Tanner Mission Suite 928,NM,91034,579-46-9356,tanyakemp,F,ldoyle@hotmail.com,1916-08-11
172,Gloria,Aguilar,435 Escobar Wall Apt. 304,ME,71133,082-24-7955,ecunningham,F,jennifersanchez@gmail.com,1912-02-22

## Problem 2. Weather (part 1/2)

The file `private/exrc_02/data/XXXXX_prob02_weather.csv` contains hourly weather observations from Helsinki during one month, downloaded from [fmi.fi](https://en.ilmatieteenlaitos.fi/open-data-manual-fmi-wfs-services) (not recommended).

First, please do some data cleaning and reorganizing as you find suitable. Then, please answer the following questions:

a) How many percentages of the `(tmax+tmin)/2` observations are at most one standard deviation away from the total average of `(tmax+tmin)/2`?

b) Find the top-5 timestamps for the difference between `tmax` and `tmin`, i.e. for `tmax-tmin`. For the found rows, print out the following information: timestamp, max temperature, min temperature and temperature difference.

### Problem 2a 
Preference:
- https://pandas.pydata.org/docs/reference/api/pandas.Series.between.html#pandas.Series.between

In [260]:
from getpass import getuser
import pandas as pd
user = getuser()
csv_location = f'/home/varpha/dan/private/{user}' + \
                f'/exrc_02/data/{user}_prob02_weather.csv'
df = pd.read_csv(csv_location)

df.index = df.Time

df = df.drop('Time', axis=1)

df = df.pivot(columns='ParameterName', values='ParameterValue')

df = df.drop(['TG_PT12H_min', 'rrday', 'tday', 'snow'], axis=1)

df = df.dropna()

avr = (df['tmin'] + df['tmax'])/2
my_mean = ((df['tmin'] + df['tmax'])/2).mean()

my_std = ((df['tmin'] + df['tmax'])/2).std()

#Get value true if value from lower (my_mean-my_std) to upper (my_mean+my_std)
#The purpose is to count all of average value of avr variable form range of  (my_mean-my_std) and (my_mean+my_std)
most_deviation = avr.between(my_mean-my_std,my_mean+my_std)
# Get average with mean() and get percent when mulptile with 100
percent = most_deviation.mean() * 100
print(percent)

66.66666666666666

### Problem 2b

In [197]:
#Create a new column with difference between max and min temperature
df["temperature difference"] = df['tmax'] - df['tmin']
## sort out the difference from biggest to smallest
sort = df.sort_values("temperature difference",ascending = False)
#Change the names of column titles
sort.columns = ["max temperature","min temperature","temperature difference"]
#only show with top 5
print(sort.head(5))

                      max temperature  min temperature  temperature difference
Time
2018-11-04T00:00:00Z              9.7              2.0                     7.7
2018-11-15T00:00:00Z              9.0              3.0                     6.0
2018-11-02T00:00:00Z             10.5              4.7                     5.8
2018-11-28T00:00:00Z             -0.8             -6.1                     5.3
2018-11-26T00:00:00Z             -0.2             -5.3                     5.1

## Problem 3. Premier League Table
The file `private/exrc_02/data/XXXXX_prob03_epl.csv` has some English Premier League results, downloaded using [this api](https://github.com/miquel-vv/football_data_api).

Using the full data, generate a league table which has the team name as the index and columns as follows (a win gives 3 points, a draw gives 1 point, and a loss gives 0 points):
* games played
* wins
* draws
* defeats
* goals for - goals against
* points


Sort it with points (most points win). If points are equal, then sorted by
* goal difference (goals for - goals against)
* goals for


The expected result should look something like this (not the same data though):
```
                games  wins  draws  defeats   goals  points
Man City           38    32      4        2  106-27     100
Man United         38    25      6        7   68-28      81
Tottenham          38    23      8        7   74-36      77
Liverpool          38    21     12        5   84-38      75
...
```

Reference:
- https://pandas.pydata.org/docs/reference/api/pandas.concat.html
- https://www.geeksforgeeks.org/pandas/python-pandas-dataframe-groupby/
- https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.agg.html#pandas.core.groupby.DataFrameGroupBy.agg

In [ ]:
from getpass import getuser
from ast import literal_eval
import pandas as pd
user = getuser()
csv_location = f'/home/varpha/dan/private/{user}' + \
                f'/exrc_02/data/{user}_prob03_epl.csv'
csv_location = "ah4323_prob03_epl.csv"
df = pd.read_csv(csv_location)


df['fullTime']=df['fullTime'].apply(lambda x: literal_eval(x))
##Parse the scores of home team and away team from fullTime to different columns
df['homeScore'] = df['fullTime'].apply(lambda x: x['homeTeam'])
df['awayScore'] = df['fullTime'].apply(lambda x: x['awayTeam'])
#set value 1 for each game in order count the number of games
df['games'] = 1

##Set two different data frame for hometeam and awayteam
## For hometeam, there are homescore(goals for) and awayscore(goal against) and number of games
## For awayteam, homescore is set from awayscore of hometeam.
##On the other hand, the "goals for"/"homescore" of awayteam is score from awayscore of hometeam.
home = pd.DataFrame({"team": df["homeTeam"], "homeScore": df["homeScore"], "awayScore": df["awayScore"], 'games': df['games']} )
away = pd.DataFrame({"team": df["awayTeam"], "awayScore": df["awayScore"], "homeScore": df["homeScore"] ,'games': df['games']})

##two datafram is combined  in same coulum name such as team, homescore and away
combine = pd.concat([home, away])
## Create column wins, draws amd defeats
## It simply set it true or false by set condition and convert it to type integer so 
## it is easier to calculate it later
combine['wins'] =  (combine['homeScore'] > combine['awayScore']).astype(int)
combine['draws'] = (combine['homeScore'] == combine['awayScore']).astype(int)
combine['defeats'] = (combine['homeScore'] < combine['awayScore']).astype(int)

## Function groupby will set any function based on team.
## For example, team AFC Bournemoth will be filtered and calcuated the sum of game played, scores and so on.  
combine = combine.groupby('team').agg(
        {'games' : 'sum',
        'homeScore' : 'sum',
        'awayScore':'sum',
        'wins': 'sum',
        'draws': 'sum',
        'defeats'  : 'sum',}
)
## set goal difference and points 
combine['goalDif'] = combine['homeScore'] - combine['awayScore']
combine['goals'] = combine['homeScore'].astype(str) + '-'  + combine['awayScore'].astype(str) 
combine['points'] = combine['wins'] *3  + combine['draws'] 
##Set all of needed columns 
##Sort from largest with points first then goals for and then goal difference
combine = combine.sort_values(by=["points","homeScore","goalDif"] ,ascending = [False,False,False])
df = combine[['games','wins','draws','defeats','goals','points']]
df

                            games  wins  draws  defeats      goals  points
team
Liverpool FC                   21    11      5        3  39.0-20.0      38
Nottingham Forest FC           21    10      6        4  36.0-15.0      36
West Ham United FC             21    11      3        6  24.0-18.0      36
AFC Bournemouth                21    10      5        5  41.0-20.0      35
Chelsea FC                     21    10      5        5  27.0-16.0      35
Fulham FC                      20    10      4        6  32.0-29.0      34
Aston Villa FC                 21    10      4        6  31.0-19.0      34
Manchester City FC             19    10      3        6  43.0-27.0      33
Manchester United FC           19    10      3        6  34.0-18.0      33
Brentford FC                   20     8      8        3  38.0-22.0      32
Leeds United FC                19     9      5        4  34.0-25.0      32
Tottenham Hotspur FC           20     9      3        8  37.0-33.0      30
Leicester City FC              21     9      3        8  34.0-29.0      30
Newcastle United FC            21     7      9        4  24.0-20.0      30
Crystal Palace FC              21     8      6        6  22.0-23.0      30
Wolverhampton Wanderers FC     20     8      5        6  19.0-20.0      29
Southampton FC                 21     8      3        9  27.0-25.0      27
Everton FC                     21     7      6        7  23.0-20.0      27
Arsenal FC                     19     8      2        8  28.0-28.0      26
Brighton & Hove Albion FC      21     7      4        8  33.0-31.0      25

## Problem 4. Weather (part 2/2)

The file `private/exrc_02/data/XXXXX_prob04_weather.txt` 
has some (old) weather data from Jyväskylä 1959-2021, again downloaded from [fmi.fi](https://en.ilmatieteenlaitos.fi/open-data-manual-fmi-wfs-services) (not recommended).

Calculate the "snow sum" (not an official meteorological term) for each winter by adding the snow depths for each day of that winter. Start from winter 1959-60 and end to 2019-20 since 1958-59 and 2020-21 are only partial.

Notes:
* You need to define "winter" by yourself.
* FMI uses -1 as snow depth when "there is absolutely no snow at all". We don't want to reduce snow sum in that case, so replace -1 with 0.
* For missing data, assume that the snow depth has been the same as during the previous day. (Fill any `NaN`s with the previous valid value.)

Then produce a DataFrame that has the winter as the index (in form "1959-1960") and columns:
* snow sum
* snow sum rank among winters so that largest = 1
* count of days where snow depth has been positive
* max snow depth of the winter.


The three first and the three last rows should look something like:
```
           Snow sum  rank  count  max
Winter                               
1959-1960      5593    18    169   65
1960-1961      5082    28    162   60
1961-1962      6644    12    156   78

...

2017-2018      6882     8    161   81
2018-2019      4030    42    150   54
2019-2020      1432    59    112   30
```

Reference:
- https://www.geeksforgeeks.org/python/pandas-query-method/
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html
- https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.rank.html#pandas.core.groupby.DataFrameGroupBy.rank

In [258]:
from getpass import getuser
from ast import literal_eval
import pandas as pd
import numpy as np
user = getuser()
location = f'/home/varpha/dan/private/{user}' + \
                f'/exrc_02/data/{user}_prob04_weather.csv'
df = pd.read_csv(location)
## Winter in Finland could happend from December to March. It's still very cold in November and April.
##But let's set winter from December to March
df = df.query('Month >=11 or Month <=3')
#replace -1 wiht 0 and fill Na with previous value with ffill() function
df["Snow depth (cm)"]= df["Snow depth (cm)"].replace(-1,0)
df["Snow depth (cm)"]= df["Snow depth (cm)"].ffill()
##set winter based on month 11-3
## The period is set like this
##For example, 11-12/1959 and 1,2,3/1960 => winter is set as period 1959-1960 and 11-12/1960 and 1-3/1961 => 1960-1961 and so on
df['winter']= df.apply(lambda x: 
             f'{x.Year}-{x.Year +1}' if
             x.Month == 11 or  x.Month == 12 else
             f'{x.Year -1}-{x.Year}' if
             x.Month in [1,2,3] else None,
             axis=1
            ) 

## set index of datafram is based on winter period 
df.index = df['winter']
df = df.drop('winter',axis=1)
##Only set winter period from "1959-1960" to"2019-2020
df = df["1959-1960":"2019-2020"]
##Caculation based on winter period
df = df.groupby("winter").agg(
    Snow_sum = ("Snow depth (cm)","sum"),
    count = ("Snow depth (cm)", lambda x : (x > 0).sum() ),
    max = ("Snow depth (cm)","max")
)
#rank from biggest with number 1 
df['rank'] = df['Snow_sum'].rank(ascending= False,method='min')
df = df[["Snow_sum","rank","count","max"]]
df

           Snow_sum  rank  count   max
winter
1959-1960    4956.0  17.0    134  65.0
1960-1961    4344.0  28.0    133  60.0
1961-1962    5546.0  12.0    126  78.0
1962-1963    3594.0  42.0    137  50.0
1963-1964    3762.0  40.0    142  49.0
...             ...   ...    ...   ...
2015-2016    1958.0  55.0    104  40.0
2016-2017    2378.0  52.0    141  38.0
2017-2018    5765.0  11.0    134  80.0
2018-2019    3640.0  41.0    111  54.0
2019-2020    1414.0  59.0    107  30.0

[61 rows x 4 columns]

## Problem 5. Statfi data wrangle.
- Here we're trying to make some sense out of the data that we downloaded from the statfi service in problem 5 of the first exercises. If you did it successfully, please use your own data. Otherwise you may use the data found in `public/exrc_02/data`.
- That data used the keyword `kihi` and the final table `statfin_kihi_pxt_13zt.px`. You may want to replace them in the front end url below.
- First use [this front end](https://pxdata.stat.fi/PxWeb/pxweb/en/StatFin/StatFin__kihi/statfin_kihi_pxt_13zt.px/) to produce a meaningful table, and then try to produce a similar table with pandas and your data.
- The most elegant solution wins!

In [256]:
import pandas as pd
import json

from getpass import getuser

user = getuser()
# let's read the data into a plain python dict first
with open("test.json","r") as handle:
    statfi_data = json.load(handle)

df = pd.json_normalize(statfi_data, record_path = 'data')
print(df.head(10))

key_exploded = df['key'].apply(pd.Series)

values_exploded = df['values'].apply(pd.Series)

df = pd.concat([key_exploded, values_exploded], axis=1)
##In test file, there are total 11 items in columns but there are only 4 items in key of data
#That's why it needs to be get data in two parts below
##Get key name based on the length of key_exploded.columns
key_names = [c["text"] for c in statfi_data["columns"][:len(key_exploded.columns)]]
print(key_names)
##Get value name from the rest of data of statfi_data["columns"]
value_names = [c["text"] for c in statfi_data["columns"][len(key_exploded.columns):]]
print(value_names)
df.columns = key_names + value_names
## For some fields about trips

df = df[["Year","Trips, thousand trips","Average length of trip, nights","Average length of trip, nights"]]

df.head(20)

               key                               values
0  [0, 2012, 0, 0]  [9980, .., 53390, .., 5.3, 3.0, 22]
1  [0, 2012, 0, 1]  [7670, .., 51330, .., 6.7, 4.0, 29]
2  [0, 2012, 0, 2]    [1380, .., 2060, .., 1.5, 1.0, .]
3  [0, 2012, 0, 3]        [920, .., 0, .., 0.0, 0.0, .]
4  [0, 2012, 1, 0]  [3140, .., 17510, .., 5.6, 3.0, 21]
5  [0, 2012, 1, 1]    [2370, ., 16710, ., 7.1, 4.0, 28]
6  [0, 2012, 1, 2]        [500, ., 800, ., 1.6, 2.0, .]
7  [0, 2012, 1, 3]        [270, .., 0, .., 0.0, 0.0, .]
8  [0, 2012, 2, 0]  [3670, .., 20290, .., 5.5, 3.0, 24]
9  [0, 2012, 2, 1]  [2930, .., 19680, .., 6.7, 4.0, 30]
['Trip purpose', 'Year', 'Season', 'Type of trip abroad']
['Trips, thousand trips', 'Change of trips, %', 'Overnight stays, thousand overnight stays', 'Change of nights, %', 'Average length of trip, nights', 'Median length of trip, nights', 'Share of package trips, %']

,Year,"Trips, thousand trips","Average length of trip, nights","Average length of trip, nights"
0,2012,9980,5.3,5.3
1,2012,7670,6.7,6.7
2,2012,1380,1.5,1.5
3,2012,920,0.0,0.0
4,2012,3140,5.6,5.6
5,2012,2370,7.1,7.1
6,2012,500,1.6,1.6
7,2012,270,0.0,0.0
8,2012,3670,5.5,5.5
9,2012,2930,6.7,6.7
10,2012,430,1.4,1.4
11,2012,320,0.0,0.0
12,2012,3170,4.9,4.9
13,2012,2370,6.3,6.3
14,2012,460,1.4,1.4
15,2012,340,0.0,0.0
16,2013,9530,5.1,5.1
17,2013,7200,6.5,6.5
18,2013,1360,1.4,1.4
19,2013,960,0.0,0.0

## How to submit my solutions?

Open a Terminal tab (e.g. <tt>File $\rightarrow$ New $\rightarrow$ Terminal</tt>, copy-paste the following into the Terminal command prompt, and press enter:
<pre>
  /home/varpha/dan/menu.py
</pre>