# Data Analytics Fall 2025 &mdash; Exercises 2

### XXXXX XXXXX

Last modified: Tue 16 Sep before session

- Five problems + round 1 peer review
- Theme: data wrangling with **pandas** (please use pandas in each problem)
- Please make both your code and your notebook readable
- Keep your originals up to date by running the code cell below:

In [205]:
import os
os.system('/usr/bin/bash /home/varpha/dan/config.sh');

Configuring...

  created the ~/dan directory tree
  changed all ~/dan subdir permissions to 700
  removed any broken filelinks under ~/dan
  copied filelinks from /home/varpha/dan to ~/dan
  removed any python cache dirs
  creating answers workbook (Darren's idea)
  answers workbook /home/XXXXX/dan/private/exrc_02/exrc_02_answers.ipynb already exists, skipping copy

  upgrading jupyterlab etc. (may take a while)...
  done (you may need to restart your server in order for the upgrades to take effect)

All Done!

Please run this config script whenever you start working on the hub.

If you encountered errors, please re-run the script. If the errors persist, please report to our Teams channel.

Also, please do 'File -> Hub Control Panel -> Stop My Server'
whenever you stop working on the hub.

Thank you!

## Round 1 peer review

- Submit your round 01 solutions in the **round 01** menu <br>
  (run `/home/varpha/dan/menu.py` in the terminal).
- After some effort, you should be able to access an anonymized submission of another student.

Write a few paragraphs of text (plain or markdown) into your favourite text editor and submit that text in  the **round 02** menu. 

Please address the following issues:
 
- Are the solutions okay? Can you understand / run the code?<br/>
  (as opposed to some wishful brainless copy-pasting done in a hurry)
- What do you think about the solutions? To what extent has AI been used blindly without explaining the usage?
- How many points out of 5 do the solutions deserve as a whole?
- How many points out of 5 would you give to yourself and why?
- Any feedback or comments to Harri?
  
Harri will read and grade your reviews as follows:
- nonexistent or nearly so = 0p
- something written = 1-2p
- well written 3p.

## Problem 1. Profiles

The file `private/exrc_02/data/XXXXX_prob01_profiles.csv` contains some user profiles.
Read the csv into a pandas DataFrame and reorganize it as follows:

a) Separate the name and address columns so that there are separate columns for
- first name
- last name
- street address
- state
- postal code.

Keep also the ssn, username, sex, mail and birthdate columns. Drop all the other columns.

b) Print all entries where the last name begins with the letter A, sorted by:
- sex (ladies first)
- state (alphabetically)
- age (youngest first).

I.e. print the entries three times, in these three different ways.

In [266]:
from getpass import getuser
import pandas as pd
user = getuser()
csv_location = f'/home/varpha/dan/private/{user}' + \
                f'/exrc_02/data/{user}_prob01_profiles.csv'
df = pd.read_csv(csv_location)

### Problem 1a
After observation, the full name is attached with job title. Therefore, it is neccessary to remove prefixes and suffixes such as Dr.X Y PhD.
There are some built-in functions of pandas library supporting to handle some issue such as replace with regular expression, split with delimiter.
Reference:
- https://pandas.pydata.org/docs/user_guide/indexing.html#basics
- https://pandas.pydata.org/docs/reference/api/pandas.Series.str.replace.html#pandas.Series.str.replace
- https://www.geeksforgeeks.org/python/regular-expression-python-examples/
- https://pandas.pydata.org/docs/reference/api/pandas.Series.str.split.html
- https://pandas.pydata.org/docs/user_guide/text.html#splitting-and-replacing-strings

In [267]:
#sprefixes and suffixes of full name is removed with regular expression  
# Use meta-characters such as  ^ means starting with Mr. or Dr. and \s* means any white space or no white space. If it matches then it replace with nothing.
no_prefixes = df["name"].str.replace('^(Mr.|Dr.)s*','', regex=True)
# Remove suffixes with $ means ends with PhD or DDS ... and no white space. 
no_suffixes = no_prefixes.str.replace('s*(PhD|DDS|MD|DVM)$','', regex=True)
#Split full name by white space and split into two columns.
name = no_suffixes.str.split(' ', expand=True, n=1)
#dataframe with string could be accessed with get  or [] 
df["first name"] =  name[0]
df["last name"] = name[1]
# Split the whole address into street address and the rest

address =  df["address"].str.split('\n')
df["street address"] = address.str[0]
#split the rest of address into three parts, the last one [-1] is the postal code and second last one [-2] is state
state_code = address.str[1].str.split(' ')
df["postal code"] = state_code.str[-1]
df["state"] = state_code.str[-2]
#combine all of field with [[field, field]] 
df = df[["first name", "last name","street address","state","postal code","ssn","username","sex","mail","birthdate"]]
df.head(10)

,first name,last name,street address,state,postal code,ssn,username,sex,mail,birthdate
0,David,Jacobson,28344 Selena Terrace Apt. 678,RI,06215,723-29-9823,njackson,M,blakecrawford@hotmail.com,1921-01-27
1,Anne,Lane,0842 White Island Suite 228,VT,29347,505-07-3836,utorres,F,wendy17@yahoo.com,2003-10-28
2,Christopher,Robinson,06184 Cross Coves,NM,76088,873-10-3692,davidjones,M,lisa98@gmail.com,1992-09-26
3,Edward,Thomas,4849 Sawyer Fork Suite 852,WY,94805,890-28-0010,ericsanchez,M,pottsandrew@yahoo.com,1914-09-27
4,Colleen,Kelly,74968 Cochran Prairie Apt. 798,DC,52775,175-68-5584,melissa90,F,moniquefrye@gmail.com,1933-05-05
5,Kaylee,Wallace,10661 Baker Plains,PR,75753,082-06-8931,patrickgriffin,F,lgonzalez@gmail.com,1965-09-22
6,Shannon,Rogers,43737 Boyle Canyon,MN,52648,899-92-2684,robinkidd,F,kaylaadams@hotmail.com,2010-04-15
7,Brian,Mooney,"PSC 7934, Box 1083",AA,53690,321-52-2004,jesse27,M,alexis41@hotmail.com,2010-11-17
8,Kyle,Ortiz,Unit 6152 Box 0015,AE,40634,675-04-9350,xavierdalton,M,david16@gmail.com,2009-07-20
9,Janet,Williams,98094 Stevens Loaf,VT,76324,797-89-9067,sheilahale,F,rose59@gmail.com,1993-04-04

### Problem 1b
When implementing the sorting values. It shows warning with **SettingWithCopyWarning: A value is trying to be set on a copy of a slice from a DataFrame**.
The copy() solves the issue. It is possible to check reference.
Preference:
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html
- https://pandas.pydata.org/docs/reference/api/pandas.Series.str.startswith.html#pandas.Series.str.startswith
- https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#evaluation-order-matters

In [269]:
#Dataframe where last name starts with A
data = df[df["last name"].str.startswith('A')].copy()
#sort by sex and by default it is ascending and F is first
ladies_first = data.sort_values(by = ["sex"])
#The same as ladies_first, it starts with 'A' first
state =  data.sort_values(by = ["state"])
#Convert this birthdate to real datetime value
data["birthdate"] = pd.to_datetime(data["birthdate"])
#pass False to ascending, it means the youngest is sorted first
age = data.sort_values(by = ["birthdate"], ascending = False)
print("Sort by ladies first:") 
print(ladies_first)
print("Sort by state:")
print(state)
print("Sort by age( youngest first):")
age

Sort by ladies first:
    first name      last name                  street address state  \
65      Ashley          Ayers             3471 Singh Turnpike    PW
116    Heather       Arellano  911 Krystal Causeway Suite 485    NM
187    Kaitlyn      Alexander               954 Mcguire Curve    NM
351             Ashley Miller              Unit 9200 Box 5692    AP
352      Paula        Aguirre  4411 Danielle Heights Apt. 725    MO
476     Hannah        Alvarez               09608 Woods Glens    IN
174     Joseph       Alvarado  7805 Smith Stravenue Suite 750    MS
269    Matthew          Allen       679 Gibson Forge Apt. 354    AL
281     Joseph       Alvarado               846 Sutton Bridge    GU
430       Carl          Adams             7971 Samantha Vista    CT
468    Richard        Alvarez             18980 Leslie Garden    WY

    postal code          ssn       username sex                      mail  \
65        21627  239-66-1517    connerbrett   F     fordannette@yahoo.com
116       70545  721-95-3992         zdavis   F   sharpbianca@hotmail.com
187       99650  144-83-0302        gfields   F  jasminebennett@yahoo.com
351       38533  247-38-9272         breese   F        kherring@gmail.com
352       02799  770-14-0862       lleonard   F         wmorris@yahoo.com
476       92620  201-07-7191   valeriegrant   F   martinezjimmy@gmail.com
174       66230  057-50-4437   michaeladams   M       susan07@hotmail.com
269       60926  589-34-4129        lucas23   M         wlittle@gmail.com
281       36145  255-01-6130      melissa38   M          lboyle@gmail.com
430       08003  349-79-7468          rsoto   M        samuel61@yahoo.com
468       72091  827-23-7191  terrygonzalez   M      kevinsmith@gmail.com

      birthdate
65   2019-10-29
116  1927-01-29
187  2017-06-18
351  1939-08-18
352  2013-05-21
476  1948-11-26
174  1929-03-05
269  2009-08-13
281  1923-08-21
430  1970-05-16
468  1991-11-21
Sort by state:
    first name      last name                  street address state  \
269    Matthew          Allen       679 Gibson Forge Apt. 354    AL
351             Ashley Miller              Unit 9200 Box 5692    AP
430       Carl          Adams             7971 Samantha Vista    CT
281     Joseph       Alvarado               846 Sutton Bridge    GU
476     Hannah        Alvarez               09608 Woods Glens    IN
352      Paula        Aguirre  4411 Danielle Heights Apt. 725    MO
174     Joseph       Alvarado  7805 Smith Stravenue Suite 750    MS
116    Heather       Arellano  911 Krystal Causeway Suite 485    NM
187    Kaitlyn      Alexander               954 Mcguire Curve    NM
65      Ashley          Ayers             3471 Singh Turnpike    PW
468    Richard        Alvarez             18980 Leslie Garden    WY

    postal code          ssn       username sex                      mail  \
269       60926  589-34-4129        lucas23   M         wlittle@gmail.com
351       38533  247-38-9272         breese   F        kherring@gmail.com
430       08003  349-79-7468          rsoto   M        samuel61@yahoo.com
281       36145  255-01-6130      melissa38   M          lboyle@gmail.com
476       92620  201-07-7191   valeriegrant   F   martinezjimmy@gmail.com
352       02799  770-14-0862       lleonard   F         wmorris@yahoo.com
174       66230  057-50-4437   michaeladams   M       susan07@hotmail.com
116       70545  721-95-3992         zdavis   F   sharpbianca@hotmail.com
187       99650  144-83-0302        gfields   F  jasminebennett@yahoo.com
65        21627  239-66-1517    connerbrett   F     fordannette@yahoo.com
468       72091  827-23-7191  terrygonzalez   M      kevinsmith@gmail.com

      birthdate
269  2009-08-13
351  1939-08-18
430  1970-05-16
281  1923-08-21
476  1948-11-26
352  2013-05-21
174  1929-03-05
116  1927-01-29
187  2017-06-18
65   2019-10-29
468  1991-11-21
Sort by age( youngest first):

,first name,last name,street address,state,postal code,ssn,username,sex,mail,birthdate
65,Ashley,Ayers,3471 Singh Turnpike,PW,21627,239-66-1517,connerbrett,F,fordannette@yahoo.com,2019-10-29
187,Kaitlyn,Alexander,954 Mcguire Curve,NM,99650,144-83-0302,gfields,F,jasminebennett@yahoo.com,2017-06-18
352,Paula,Aguirre,4411 Danielle Heights Apt. 725,MO,02799,770-14-0862,lleonard,F,wmorris@yahoo.com,2013-05-21
269,Matthew,Allen,679 Gibson Forge Apt. 354,AL,60926,589-34-4129,lucas23,M,wlittle@gmail.com,2009-08-13
468,Richard,Alvarez,18980 Leslie Garden,WY,72091,827-23-7191,terrygonzalez,M,kevinsmith@gmail.com,1991-11-21
430,Carl,Adams,7971 Samantha Vista,CT,08003,349-79-7468,rsoto,M,samuel61@yahoo.com,1970-05-16
476,Hannah,Alvarez,09608 Woods Glens,IN,92620,201-07-7191,valeriegrant,F,martinezjimmy@gmail.com,1948-11-26
351,,Ashley Miller,Unit 9200 Box 5692,AP,38533,247-38-9272,breese,F,kherring@gmail.com,1939-08-18
174,Joseph,Alvarado,7805 Smith Stravenue Suite 750,MS,66230,057-50-4437,michaeladams,M,susan07@hotmail.com,1929-03-05
116,Heather,Arellano,911 Krystal Causeway Suite 485,NM,70545,721-95-3992,zdavis,F,sharpbianca@hotmail.com,1927-01-29
281,Joseph,Alvarado,846 Sutton Bridge,GU,36145,255-01-6130,melissa38,M,lboyle@gmail.com,1923-08-21

## Problem 2. Weather (part 1/2)

The file `private/exrc_02/data/XXXXX_prob02_weather.csv` contains hourly weather observations from Helsinki during one month, downloaded from [fmi.fi](https://en.ilmatieteenlaitos.fi/open-data-manual-fmi-wfs-services) (not recommended).

First, please do some data cleaning and reorganizing as you find suitable. Then, please answer the following questions:

a) How many percentages of the `(tmax+tmin)/2` observations are at most one standard deviation away from the total average of `(tmax+tmin)/2`?

b) Find the top-5 timestamps for the difference between `tmax` and `tmin`, i.e. for `tmax-tmin`. For the found rows, print out the following information: timestamp, max temperature, min temperature and temperature difference.

### Problem 2a 
Preference:
- https://pandas.pydata.org/docs/reference/api/pandas.Series.between.html#pandas.Series.between

In [260]:
from getpass import getuser
import pandas as pd
user = getuser()
csv_location = f'/home/varpha/dan/private/{user}' + \
                f'/exrc_02/data/{user}_prob02_weather.csv'
df = pd.read_csv(csv_location)

df.index = df.Time

df = df.drop('Time', axis=1)

df = df.pivot(columns='ParameterName', values='ParameterValue')

df = df.drop(['TG_PT12H_min', 'rrday', 'tday', 'snow'], axis=1)

df = df.dropna()

avr = (df['tmin'] + df['tmax'])/2
my_mean = ((df['tmin'] + df['tmax'])/2).mean()

my_std = ((df['tmin'] + df['tmax'])/2).std()

#Get value true if value from lower (my_mean-my_std) to upper (my_mean+my_std)
#The purpose is to count all of average value of avr variable form range of  (my_mean-my_std) and (my_mean+my_std)
most_deviation = avr.between(my_mean-my_std,my_mean+my_std)
# Get average with mean() and get percent when mulptile with 100
percent = most_deviation.mean() * 100
print(percent)

66.66666666666666

### Problem 2b

In [197]:
#Create a new column with difference between max and min temperature
df["temperature difference"] = df['tmax'] - df['tmin']
## sort out the difference from biggest to smallest
sort = df.sort_values("temperature difference",ascending = False)
#Change the names of column titles
sort.columns = ["max temperature","min temperature","temperature difference"]
#only show with top 5
print(sort.head(5))

                      max temperature  min temperature  temperature difference
Time
2018-11-04T00:00:00Z              9.7              2.0                     7.7
2018-11-15T00:00:00Z              9.0              3.0                     6.0
2018-11-02T00:00:00Z             10.5              4.7                     5.8
2018-11-28T00:00:00Z             -0.8             -6.1                     5.3
2018-11-26T00:00:00Z             -0.2             -5.3                     5.1

## Problem 3. Premier League Table
The file `private/exrc_02/data/XXXXX_prob03_epl.csv` has some English Premier League results, downloaded using [this api](https://github.com/miquel-vv/football_data_api).

Using the full data, generate a league table which has the team name as the index and columns as follows (a win gives 3 points, a draw gives 1 point, and a loss gives 0 points):
* games played
* wins
* draws
* defeats
* goals for - goals against
* points


Sort it with points (most points win). If points are equal, then sorted by
* goal difference (goals for - goals against)
* goals for


The expected result should look something like this (not the same data though):
```
                games  wins  draws  defeats   goals  points
Man City           38    32      4        2  106-27     100
Man United         38    25      6        7   68-28      81
Tottenham          38    23      8        7   74-36      77
Liverpool          38    21     12        5   84-38      75
...
```

Reference:
- https://pandas.pydata.org/docs/reference/api/pandas.concat.html
- https://www.geeksforgeeks.org/pandas/python-pandas-dataframe-groupby/
- https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.agg.html#pandas.core.groupby.DataFrameGroupBy.agg

In [259]:
from getpass import getuser
from ast import literal_eval
import pandas as pd
user = getuser()
csv_location = f'/home/varpha/dan/private/{user}' + \
                f'/exrc_02/data/{user}_prob03_epl.csv'
df = pd.read_csv(csv_location)


df['fullTime']=df['fullTime'].apply(lambda x: literal_eval(x))
##Parse the scores of home team and away team from fullTime to different columns
df['homeScore'] = df['fullTime'].apply(lambda x: x['homeTeam'])
df['awayScore'] = df['fullTime'].apply(lambda x: x['awayTeam'])
#set value 1 for each game in order count the number of games
df['games'] = 1

##Set two different data frame for hometeam and awayteam
## For hometeam, there are homescore(goals for) and awayscore(goal against) and number of games
## For awayteam, homescore is set from awayscore of hometeam.
##On the other hand, the "goals for"/"homescore" of awayteam is score from awayscore of hometeam.
home = pd.DataFrame({"team": df["homeTeam"], "homeScore": df["homeScore"], "awayScore": df["awayScore"], 'games': df['games']} )
away = pd.DataFrame({"team": df["awayTeam"], "awayScore": df["awayScore"], "homeScore": df["homeScore"] ,'games': df['games']})

##two datafram is combined  in same coulum name such as team, homescore and away
combine = pd.concat([home, away])
## Create column wins, draws amd defeats
## It simply set it true or false by set condition and convert it to type integer so 
## it is easier to calculate it later
combine['wins'] =  (combine['homeScore'] > combine['awayScore']).astype(int)
combine['draws'] = (combine['homeScore'] == combine['awayScore']).astype(int)
combine['defeats'] = (combine['homeScore'] < combine['awayScore']).astype(int)

## Function groupby will set any function based on team.
## For example, team AFC Bournemoth will be filtered and calcuated the sum of game played, scores and so on.  
combine = combine.groupby('team').agg(
        {'games' : 'sum',
        'homeScore' : 'sum',
        'awayScore':'sum',
        'wins': 'sum',
        'draws': 'sum',
        'defeats'  : 'sum',}
)
## set goal difference and points 
combine['goalDif'] = combine['homeScore'] - combine['awayScore']
combine['goals'] = combine['homeScore'].astype(str) + '-'  + combine['awayScore'].astype(str) 
combine['points'] = combine['wins'] *3  + combine['draws'] 
##Set all of needed columns 
##Sort from largest with points first then goals for and then goal difference
combine = combine.sort_values(by=["points","homeScore","goalDif"] ,ascending = [False,False,False])
df = combine[['games','wins','draws','defeats','goals','points']]
df

                            games  wins  draws  defeats      goals  points
team
Liverpool FC                   21    11      5        3  39.0-20.0      38
Nottingham Forest FC           21    10      6        4  36.0-15.0      36
West Ham United FC             21    11      3        6  24.0-18.0      36
AFC Bournemouth                21    10      5        5  41.0-20.0      35
Chelsea FC                     21    10      5        5  27.0-16.0      35
Fulham FC                      20    10      4        6  32.0-29.0      34
Aston Villa FC                 21    10      4        6  31.0-19.0      34
Manchester City FC             19    10      3        6  43.0-27.0      33
Manchester United FC           19    10      3        6  34.0-18.0      33
Brentford FC                   20     8      8        3  38.0-22.0      32
Leeds United FC                19     9      5        4  34.0-25.0      32
Tottenham Hotspur FC           20     9      3        8  37.0-33.0      30
Leicester City FC              21     9      3        8  34.0-29.0      30
Newcastle United FC            21     7      9        4  24.0-20.0      30
Crystal Palace FC              21     8      6        6  22.0-23.0      30
Wolverhampton Wanderers FC     20     8      5        6  19.0-20.0      29
Southampton FC                 21     8      3        9  27.0-25.0      27
Everton FC                     21     7      6        7  23.0-20.0      27
Arsenal FC                     19     8      2        8  28.0-28.0      26
Brighton & Hove Albion FC      21     7      4        8  33.0-31.0      25

## Problem 4. Weather (part 2/2)

The file `private/exrc_02/data/XXXXX_prob04_weather.txt` 
has some (old) weather data from Jyväskylä 1959-2021, again downloaded from [fmi.fi](https://en.ilmatieteenlaitos.fi/open-data-manual-fmi-wfs-services) (not recommended).

Calculate the "snow sum" (not an official meteorological term) for each winter by adding the snow depths for each day of that winter. Start from winter 1959-60 and end to 2019-20 since 1958-59 and 2020-21 are only partial.

Notes:
* You need to define "winter" by yourself.
* FMI uses -1 as snow depth when "there is absolutely no snow at all". We don't want to reduce snow sum in that case, so replace -1 with 0.
* For missing data, assume that the snow depth has been the same as during the previous day. (Fill any `NaN`s with the previous valid value.)

Then produce a DataFrame that has the winter as the index (in form "1959-1960") and columns:
* snow sum
* snow sum rank among winters so that largest = 1
* count of days where snow depth has been positive
* max snow depth of the winter.


The three first and the three last rows should look something like:
```
           Snow sum  rank  count  max
Winter                               
1959-1960      5593    18    169   65
1960-1961      5082    28    162   60
1961-1962      6644    12    156   78

...

2017-2018      6882     8    161   81
2018-2019      4030    42    150   54
2019-2020      1432    59    112   30
```

Reference:
- https://www.geeksforgeeks.org/python/pandas-query-method/
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html
- https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.rank.html#pandas.core.groupby.DataFrameGroupBy.rank

In [258]:
from getpass import getuser
from ast import literal_eval
import pandas as pd
import numpy as np
user = getuser()
location = f'/home/varpha/dan/private/{user}' + \
                f'/exrc_02/data/{user}_prob04_weather.csv'
df = pd.read_csv(location)
## Winter in Finland could happend from December to March. It's still very cold in November and April.
##But let's set winter from December to March
df = df.query('Month >=11 or Month <=3')
#replace -1 wiht 0 and fill Na with previous value with ffill() function
df["Snow depth (cm)"]= df["Snow depth (cm)"].replace(-1,0)
df["Snow depth (cm)"]= df["Snow depth (cm)"].ffill()
##set winter based on month 11-3
## The period is set like this
##For example, 11-12/1959 and 1,2,3/1960 => winter is set as period 1959-1960 and 11-12/1960 and 1-3/1961 => 1960-1961 and so on
df['winter']= df.apply(lambda x: 
             f'{x.Year}-{x.Year +1}' if
             x.Month == 11 or  x.Month == 12 else
             f'{x.Year -1}-{x.Year}' if
             x.Month in [1,2,3] else None,
             axis=1
            ) 

## set index of datafram is based on winter period 
df.index = df['winter']
df = df.drop('winter',axis=1)
##Only set winter period from "1959-1960" to"2019-2020
df = df["1959-1960":"2019-2020"]
##Caculation based on winter period
df = df.groupby("winter").agg(
    Snow_sum = ("Snow depth (cm)","sum"),
    count = ("Snow depth (cm)", lambda x : (x > 0).sum() ),
    max = ("Snow depth (cm)","max")
)
#rank from biggest with number 1 
df['rank'] = df['Snow_sum'].rank(ascending= False,method='min')
df = df[["Snow_sum","rank","count","max"]]
df

           Snow_sum  rank  count   max
winter
1959-1960    4956.0  17.0    134  65.0
1960-1961    4344.0  28.0    133  60.0
1961-1962    5546.0  12.0    126  78.0
1962-1963    3594.0  42.0    137  50.0
1963-1964    3762.0  40.0    142  49.0
...             ...   ...    ...   ...
2015-2016    1958.0  55.0    104  40.0
2016-2017    2378.0  52.0    141  38.0
2017-2018    5765.0  11.0    134  80.0
2018-2019    3640.0  41.0    111  54.0
2019-2020    1414.0  59.0    107  30.0

[61 rows x 4 columns]

## Problem 5. Statfi data wrangle.
- Here we're trying to make some sense out of the data that we downloaded from the statfi service in problem 5 of the first exercises. If you did it successfully, please use your own data. Otherwise you may use the data found in `public/exrc_02/data`.
- That data used the keyword `kihi` and the final table `statfin_kihi_pxt_13zt.px`. You may want to replace them in the front end url below.
- First use [this front end](https://pxdata.stat.fi/PxWeb/pxweb/en/StatFin/StatFin__kihi/statfin_kihi_pxt_13zt.px/) to produce a meaningful table, and then try to produce a similar table with pandas and your data.
- The most elegant solution wins!

In [256]:
import pandas as pd
import json

from getpass import getuser

user = getuser()
# let's read the data into a plain python dict first
with open("test.json","r") as handle:
    statfi_data = json.load(handle)

df = pd.json_normalize(statfi_data, record_path = 'data')
print(df.head(10))

key_exploded = df['key'].apply(pd.Series)

values_exploded = df['values'].apply(pd.Series)

df = pd.concat([key_exploded, values_exploded], axis=1)
##In test file, there are total 11 items in columns but there are only 4 items in key of data
#That's why it needs to be get data in two parts below
##Get key name based on the length of key_exploded.columns
key_names = [c["text"] for c in statfi_data["columns"][:len(key_exploded.columns)]]
print(key_names)
##Get value name from the rest of data of statfi_data["columns"]
value_names = [c["text"] for c in statfi_data["columns"][len(key_exploded.columns):]]
print(value_names)
df.columns = key_names + value_names
## For some fields about trips

df = df[["Year","Trips, thousand trips","Average length of trip, nights","Average length of trip, nights"]]

df.head(20)

               key                               values
0  [0, 2012, 0, 0]  [9980, .., 53390, .., 5.3, 3.0, 22]
1  [0, 2012, 0, 1]  [7670, .., 51330, .., 6.7, 4.0, 29]
2  [0, 2012, 0, 2]    [1380, .., 2060, .., 1.5, 1.0, .]
3  [0, 2012, 0, 3]        [920, .., 0, .., 0.0, 0.0, .]
4  [0, 2012, 1, 0]  [3140, .., 17510, .., 5.6, 3.0, 21]
5  [0, 2012, 1, 1]    [2370, ., 16710, ., 7.1, 4.0, 28]
6  [0, 2012, 1, 2]        [500, ., 800, ., 1.6, 2.0, .]
7  [0, 2012, 1, 3]        [270, .., 0, .., 0.0, 0.0, .]
8  [0, 2012, 2, 0]  [3670, .., 20290, .., 5.5, 3.0, 24]
9  [0, 2012, 2, 1]  [2930, .., 19680, .., 6.7, 4.0, 30]
['Trip purpose', 'Year', 'Season', 'Type of trip abroad']
['Trips, thousand trips', 'Change of trips, %', 'Overnight stays, thousand overnight stays', 'Change of nights, %', 'Average length of trip, nights', 'Median length of trip, nights', 'Share of package trips, %']

,Year,"Trips, thousand trips","Average length of trip, nights","Average length of trip, nights"
0,2012,9980,5.3,5.3
1,2012,7670,6.7,6.7
2,2012,1380,1.5,1.5
3,2012,920,0.0,0.0
4,2012,3140,5.6,5.6
5,2012,2370,7.1,7.1
6,2012,500,1.6,1.6
7,2012,270,0.0,0.0
8,2012,3670,5.5,5.5
9,2012,2930,6.7,6.7
10,2012,430,1.4,1.4
11,2012,320,0.0,0.0
12,2012,3170,4.9,4.9
13,2012,2370,6.3,6.3
14,2012,460,1.4,1.4
15,2012,340,0.0,0.0
16,2013,9530,5.1,5.1
17,2013,7200,6.5,6.5
18,2013,1360,1.4,1.4
19,2013,960,0.0,0.0

## How to submit my solutions?

Open a Terminal tab (e.g. <tt>File $\rightarrow$ New $\rightarrow$ Terminal</tt>, copy-paste the following into the Terminal command prompt, and press enter:
<pre>
  /home/varpha/dan/menu.py
</pre>