# Data Analytics Fall 2025 &mdash; Exercises 2

### XXXXX XXXXX

Last modified: Tue 16 Sep before session

- Five problems + round 1 peer review
- Theme: data wrangling with **pandas** (please use pandas in each problem)
- Please make both your code and your notebook readable
- Keep your originals up to date by running the code cell below:

In [ ]:
import os
os.system('/usr/bin/bash /home/varpha/dan/config.sh');

## Round 1 peer review

- Submit your round 01 solutions in the **round 01** menu <br>
  (run `/home/varpha/dan/menu.py` in the terminal).
- After some effort, you should be able to access an anonymized submission of another student.

Write a few paragraphs of text (plain or markdown) into your favourite text editor and submit that text in  the **round 02** menu. 

Please address the following issues:
 
- Are the solutions okay? Can you understand / run the code?<br/>
  (as opposed to some wishful brainless copy-pasting done in a hurry)
- What do you think about the solutions? To what extent has AI been used blindly without explaining the usage?
- How many points out of 5 do the solutions deserve as a whole?
- How many points out of 5 would you give to yourself and why?
- Any feedback or comments to Harri?
  
Harri will read and grade your reviews as follows:
- nonexistent or nearly so = 0p
- something written = 1-2p
- well written 3p.

## Problem 1. Profiles

The file `private/exrc_02/data/XXXXX_prob01_profiles.csv` contains some user profiles.
Read the csv into a pandas DataFrame and reorganize it as follows:

a) Separate the name and address columns so that there are separate columns for
- first name
- last name
- street address
- state
- postal code.

Keep also the ssn, username, sex, mail and birthdate columns. Drop all the other columns.

b) Print all entries where the last name begins with the letter A, sorted by:
- sex (ladies first)
- state (alphabetically)
- age (youngest first).

I.e. print the entries three times, in these three different ways.

## Use of AI in this exercise
I leveraged AI tools to:
- Learn new concepts related to tasks
- Brainstorm solutions
- Generate and adapt sample code to solve the problems in different ways

## Solution 1. Profiles

In [1]:
import csv
import pandas as pd
from getpass import getuser

user = getuser()
csv_location = f'/home/varpha/dan/private/{user}' + \
                f'/exrc_02/data/{user}_prob01_profiles.csv'
# csv_location =  "FILE_NAME" ### GIVE FILE_NAME TO RUN THE CODE LOCALLY

# Load input CSV data related to user profiles into pandas DataFrame
df = pd.read_csv(csv_location)

# # Get basic information about data
# print(df.info()) # prints concise summary about DataFrame's structure
# print(df.head()) # prints first five rows - default

################################### Task a) Data Wrangling  ########################################

# # Print sample data for 'name' and 'address' columns
# print(df[["name", "address"]].head())

# Split 'name' column into 'first_name' and 'last_name' columns
# Used string's ´split()´ method
split_name_col = df["name"].str.split(pat=" ", n=1, expand=True)
df["first_name"] = split_name_col[0]
df["last_name"] = split_name_col[1]

# # Print sample data for debugging post splitting the 'name' column
# print(df[["name", "first_name", "last_name"]].head())

# Split 'address' column into 'street_address' and rest of the address data.
split_addr_cols = df["address"].str.split(pat=r"\s*\n\s*", n=1, expand=True)
df["street_address"] = split_addr_cols[0]

# Split rest adress data into 'state' and 'postal code' columns
state_and_postal_code = split_addr_cols[1].str.split(",", n=1, expand=True)[1]
df["state"] = state_and_postal_code.str.split().str[0]
df["postal_code"] = state_and_postal_code.str.split().str[1]

# # Print sample data for debugging post splitting the 'address' column
# print(df[['address','street_address', 'state', 'postal_code']].head())

# Create cleaned dataframe with required columns
cleaned_df = df[[
    "ssn", "username", "first_name", "last_name",
    "sex", "street_address", "state", "postal_code",
    "mail", "birthdate"
]]

# # Print sample cleaned data for debugging post extracting the required columns
# print(cleaned_df.head())

############################################## Task b) #############################################

# Extract the entries where 'last name' begins with the letter A
# Used strings' ´startswith()´ method
filtered_df = cleaned_df[cleaned_df["last_name"].str.startswith('A')].copy()

# # Print sample data for debugging
# print(filtered_df.head())

# Sort by 'sex' column (ladies first) where name begins with the letter A and print result
# Used Pandas DataFrame method ´sort_values()´ for sorting the data
sorted_by_sex = filtered_df.sort_values(by='sex')

print("--------------------------------------------------------------------------------------------")
print("   All entries where the last name begins with the letter A, sorted by sex (ladies first)   ")
print("--------------------------------------------------------------------------------------------")
# set Index to False not display 'index' column
print(sorted_by_sex.to_string(index=False))

print()  # print a blank line for better display


# Sort by 'state' column (alphabetically) where name begins with the letter A and print result
sorted_by_state = filtered_df.sort_values(by='state')

print("------------------------------------------------------------------------------------------------")
print("   All entries where the last name begins with the letter A, sorted by state (alphabetically)   ")
print("------------------------------------------------------------------------------------------------")
print(sorted_by_state.to_string(index=False))
print()  # insert a blank line for better display

# Sort by 'birthdate' ie age (youngest first) where name begins with the letter A and print result
sorted_by_age = filtered_df.sort_values(by='birthdate', ascending=False)

print("------------------------------------------------------------------------------------------------")
print("    All entries where the last name begins with the letter A, sorted by age (youngest first)    ")
print("------------------------------------------------------------------------------------------------")
print(sorted_by_age.to_string(index=False))

--------------------------------------------------------------------------------------------
   All entries where the last name begins with the letter A, sorted by sex (ladies first)
--------------------------------------------------------------------------------------------
        ssn        username first_name last_name sex                   street_address state postal_code                      mail  birthdate
618-23-7085   michaelmartin     Alyssa  Anderson   F     12509 Jordan Rapid Suite 221    RI       67312       kmiller@hotmail.com 1997-08-23
485-57-5914 robersonbeverly   Patricia   Andrade   F                 037 Warner Place    VI       46571    brownjames@hotmail.com 1975-12-30
701-62-8909       michael06   Kathleen    Arroyo   F      7433 Joshua Light Suite 423    GU       35854      hollyweber@yahoo.com 1949-02-24
082-24-7955     ecunningham     Gloria   Aguilar   F        435 Escobar Wall Apt. 304    ME       71133 jennifersanchez@gmail.com 1912-02-22
475-87-5012 justinrodriguez    Jessica  Anderson   F     323 Vasquez Village Apt. 866    ND       62196       msnyder@hotmail.com 1938-02-06
579-46-9356       tanyakemp       Beth  Arellano   F    3585 Tanner Mission Suite 928    NM       91034        ldoyle@hotmail.com 1916-08-11
392-79-6259       phyllis60    Chelsea     Adams   F      560 Cynthia Summit Apt. 271    MN       51695     kelseydavis@gmail.com 1946-12-12
430-97-1375       fbartlett     Andrea   Andrews   F     620 Sanders Summit Suite 382    NY       95796       natalie15@yahoo.com 1929-10-24
607-43-8328 destinygonzalez    Melinda     Allen   F                   736 Reese Loaf    FL       60678         bross@hotmail.com 1921-02-21
606-20-1906        afreeman    Rebecca     Allen   F                 827 Jason Island    PA       29406   cherylbuckley@gmail.com 1958-04-02
839-68-0180     justingrant    Spencer    Arnold   M         2292 Dyer Park Suite 698    HI       30374  millerjennifer@gmail.com 2002-06-11
863-94-6652          bsmith      David  Anderson   M 9299 Kimberly Mountains Apt. 160    GA       66995         cjensen@gmail.com 2007-05-06
891-40-6262       htrujillo     Jerome    Adkins   M        5763 Ashley View Apt. 054    NJ       33403        teresa97@gmail.com 1938-07-02
417-66-5820        vbaldwin    Michael     Allen   M        8032 Yvonne Cove Apt. 472    MP       87536       danderson@gmail.com 1960-05-24
557-08-4915       jeffrey73      Roger  Anderson   M    1900 Bradley Skyway Suite 346    WY       83697    mandystone@hotmail.com 2019-12-14
202-81-9617    lawsoneugene     Darren Alexander   M     67790 Brandon Wells Apt. 209    FM       92577    sblankenship@gmail.com 1964-06-17

------------------------------------------------------------------------------------------------
   All entries where the last name begins with the letter A, sorted by state (alphabetically)
------------------------------------------------------------------------------------------------
        ssn        username first_name last_name sex                   street_address state postal_code                      mail  birthdate
607-43-8328 destinygonzalez    Melinda     Allen   F                   736 Reese Loaf    FL       60678         bross@hotmail.com 1921-02-21
202-81-9617    lawsoneugene     Darren Alexander   M     67790 Brandon Wells Apt. 209    FM       92577    sblankenship@gmail.com 1964-06-17
863-94-6652          bsmith      David  Anderson   M 9299 Kimberly Mountains Apt. 160    GA       66995         cjensen@gmail.com 2007-05-06
701-62-8909       michael06   Kathleen    Arroyo   F      7433 Joshua Light Suite 423    GU       35854      hollyweber@yahoo.com 1949-02-24
839-68-0180     justingrant    Spencer    Arnold   M         2292 Dyer Park Suite 698    HI       30374  millerjennifer@gmail.com 2002-06-11
082-24-7955     ecunningham     Gloria   Aguilar   F        435 Escobar Wall Apt. 304    ME       71133 jennifersanchez@gmail.com 1912-02-22
392-79-6259       phyllis60    Chelsea     Adams   F      560 Cynthia Summit Apt. 271    MN       51695     kelseydavis@gmail.com 1946-12-12
417-66-5820        vbaldwin    Michael     Allen   M        8032 Yvonne Cove Apt. 472    MP       87536       danderson@gmail.com 1960-05-24
475-87-5012 justinrodriguez    Jessica  Anderson   F     323 Vasquez Village Apt. 866    ND       62196       msnyder@hotmail.com 1938-02-06
891-40-6262       htrujillo     Jerome    Adkins   M        5763 Ashley View Apt. 054    NJ       33403        teresa97@gmail.com 1938-07-02
579-46-9356       tanyakemp       Beth  Arellano   F    3585 Tanner Mission Suite 928    NM       91034        ldoyle@hotmail.com 1916-08-11
430-97-1375       fbartlett     Andrea   Andrews   F     620 Sanders Summit Suite 382    NY       95796       natalie15@yahoo.com 1929-10-24
606-20-1906        afreeman    Rebecca     Allen   F                 827 Jason Island    PA       29406   cherylbuckley@gmail.com 1958-04-02
618-23-7085   michaelmartin     Alyssa  Anderson   F     12509 Jordan Rapid Suite 221    RI       67312       kmiller@hotmail.com 1997-08-23
485-57-5914 robersonbeverly   Patricia   Andrade   F                 037 Warner Place    VI       46571    brownjames@hotmail.com 1975-12-30
557-08-4915       jeffrey73      Roger  Anderson   M    1900 Bradley Skyway Suite 346    WY       83697    mandystone@hotmail.com 2019-12-14

------------------------------------------------------------------------------------------------
    All entries where the last name begins with the letter A, sorted by age (youngest first)
------------------------------------------------------------------------------------------------
        ssn        username first_name last_name sex                   street_address state postal_code                      mail  birthdate
557-08-4915       jeffrey73      Roger  Anderson   M    1900 Bradley Skyway Suite 346    WY       83697    mandystone@hotmail.com 2019-12-14
863-94-6652          bsmith      David  Anderson   M 9299 Kimberly Mountains Apt. 160    GA       66995         cjensen@gmail.com 2007-05-06
839-68-0180     justingrant    Spencer    Arnold   M         2292 Dyer Park Suite 698    HI       30374  millerjennifer@gmail.com 2002-06-11
618-23-7085   michaelmartin     Alyssa  Anderson   F     12509 Jordan Rapid Suite 221    RI       67312       kmiller@hotmail.com 1997-08-23
485-57-5914 robersonbeverly   Patricia   Andrade   F                 037 Warner Place    VI       46571    brownjames@hotmail.com 1975-12-30
202-81-9617    lawsoneugene     Darren Alexander   M     67790 Brandon Wells Apt. 209    FM       92577    sblankenship@gmail.com 1964-06-17
417-66-5820        vbaldwin    Michael     Allen   M        8032 Yvonne Cove Apt. 472    MP       87536       danderson@gmail.com 1960-05-24
606-20-1906        afreeman    Rebecca     Allen   F                 827 Jason Island    PA       29406   cherylbuckley@gmail.com 1958-04-02
701-62-8909       michael06   Kathleen    Arroyo   F      7433 Joshua Light Suite 423    GU       35854      hollyweber@yahoo.com 1949-02-24
392-79-6259       phyllis60    Chelsea     Adams   F      560 Cynthia Summit Apt. 271    MN       51695     kelseydavis@gmail.com 1946-12-12
891-40-6262       htrujillo     Jerome    Adkins   M        5763 Ashley View Apt. 054    NJ       33403        teresa97@gmail.com 1938-07-02
475-87-5012 justinrodriguez    Jessica  Anderson   F     323 Vasquez Village Apt. 866    ND       62196       msnyder@hotmail.com 1938-02-06
430-97-1375       fbartlett     Andrea   Andrews   F     620 Sanders Summit Suite 382    NY       95796       natalie15@yahoo.com 1929-10-24
607-43-8328 destinygonzalez    Melinda     Allen   F                   736 Reese Loaf    FL       60678         bross@hotmail.com 1921-02-21
579-46-9356       tanyakemp       Beth  Arellano   F    3585 Tanner Mission Suite 928    NM       91034        ldoyle@hotmail.com 1916-08-11
082-24-7955     ecunningham     Gloria   Aguilar   F        435 Escobar Wall Apt. 304    ME       71133 jennifersanchez@gmail.com 1912-02-22

## Problem 2. Weather (part 1/2)

The file `private/exrc_02/data/XXXXX_prob02_weather.csv` contains hourly weather observations from Helsinki during one month, downloaded from [fmi.fi](https://en.ilmatieteenlaitos.fi/open-data-manual-fmi-wfs-services) (not recommended).

First, please do some data cleaning and reorganizing as you find suitable. Then, please answer the following questions:

a) How many percentages of the `(tmax+tmin)/2` observations are at most one standard deviation away from the total average of `(tmax+tmin)/2`?

b) Find the top-5 timestamps for the difference between `tmax` and `tmin`, i.e. for `tmax-tmin`. For the found rows, print out the following information: timestamp, max temperature, min temperature and temperature difference.

## Solution 2. Weather (part 1/2)

In [2]:
import csv
import pandas as pd
from getpass import getuser

user = getuser()
csv_location = f'/home/varpha/dan/private/{user}' + \
                f'/exrc_02/data/{user}_prob02_weather.csv'
# csv_location =  "FILE_NAME" ### GIVE FILE_NAME TO RUN THE CODE LOCALLY

# Load input CSV data related to hourly weather observations from Helsinki during one month
df = pd.read_csv(csv_location)

# # Get basic information about data
# print(df.info()) # prints concise summary about DataFrame's structure
# print(df.head()) # prints first five rows - default

##########################################  Data Wrangling  ########################################
# Select only required columns to remove the 'Unnamed' column
df_cleaned = df[["Time", "ParameterName", "ParameterValue"]]

# # Print sample data for debugging
# print(df_cleaned.head())

# Transponse the data from long format to wide format and make 'Time' column to index
# Used Pandas DataFrame method ´pivot()´
df_transposed = df_cleaned.pivot(
    index='Time', columns='ParameterName', values='ParameterValue')

# # Print sample data for debugging
# print(df_transposed.head())

# Reset the index to make 'Time' column back to a regular column instead of the index
df_transposed = df_transposed.reset_index()

# # Print sample data for debugging
# print(df_transposed.head().to_string(index=False)) # To see the transposed data as below
'''
                Time  TG_PT12H_min  rrday  snow  tday  tmax  tmin
2022-02-01T00:00:00Z           NaN   -1.0  25.0  -7.7  -5.3  -8.9
2022-02-01T01:00:00Z           NaN    NaN   NaN   NaN   NaN   NaN
2022-02-01T02:00:00Z           NaN    NaN   NaN   NaN   NaN   NaN
2022-02-01T03:00:00Z           NaN    NaN   NaN   NaN   NaN   NaN
2022-02-01T04:00:00Z           NaN    NaN   NaN   NaN   NaN   NaN
'''

# Drop the columns 'TG_PT12H_min', 'rrday' and 'snow' (Not Needed)
# Used Pandas DataFrame method ´drop()´
df_transposed.drop(columns=["TG_PT12H_min", "rrday",
                   "snow", "tday"], inplace=True)

# # Print sample data for debugging
# print(df_transposed.head())

# Drop rows which contains at least one missing value ie NaN
# Used Pandas DataFrame method `dropna()`
# Used Pandas DataFrame method `copy()` to create a true independent copy as a best practice
df_transposed_cleaned = df_transposed.dropna().copy()

# # Print sample data for debugging
# print(df_transposed_cleaned.head())
# print(df_transposed_cleaned.info())

#############################################  Task a)  ###########################################

# Copy the data for "task a" from cleaned data (df_transposed_cleaned)
df_task_a = df_transposed_cleaned.copy()

# Add a new column 'tmax+tmin/2' to store (tmax+tmin)/2 calculation
# Used ´df.loc[:, "col"]' instead of ´df["col"]´ to follow best practices
df_task_a.loc[:, "tmax+tmin/2"] = (df_task_a["tmax"] + df_task_a["tmin"]) / 2

# # Print sample data for debugging
# print(df_task_a.head())

# Calculate the average (mean) and standard deviation for 'tmax+tmin/2' column
# Used Pandas DataFrame methods ´mean()´ to get average and ´std()´ to get standard deviation
tavg_mean = df_task_a["tmax+tmin/2"].mean()
tavg_std = df_task_a["tmax+tmin/2"].std()

# Determine the lower and upper range for one standard deviation away from the mean for 'tmax+tmin/2' column
lower_range = tavg_mean - tavg_std
upper_range = tavg_mean + tavg_std

# Calculate the number of tmax+tmin/2 observations within the range of one standard deviation
# Used boolean masking and `shape` method with slicing to get the required count
observations_within_range = df_task_a[(
    df_task_a["tmax+tmin/2"] >= lower_range) & (df_task_a["tmax+tmin/2"] <= upper_range)].shape[0]

# Get the total number of valid tmax+tmin/2 observations
total_observations = df_task_a.shape[0]

# Calculate the percentage
percentage = (observations_within_range / total_observations) * 100

print(f"{percentage}% of the (tmax+tmin)/2 observations are at most one standard deviation away from the total average of (tmax+tmin)/2")
print()  # print a blank line before next print for better display


############################################  Task b)  ############################################

# Copy the data for "task b" from cleaned data (df_transposed_cleaned)
df_task_b = df_transposed_cleaned.copy()

# Add a new column 'tmax-tmin' to store (tmax - tmin) calculation
# Used ´df.loc[:, "col"]' instead of ´df["col"]´ to follow best practices
df_task_b.loc[:, "tmax-tmin"] = df_task_b["tmax"] - df_task_b["tmin"]

# # Print sample data for debugging
# print(df_task_b.head())

# Find and print top-5 timestamps for the difference between tmax and tmin
# Used Pandas DataFrame method ´sort_values()´ for sorting the data
# Used ´head(5)' to dispay 5 rows
# Used ´to_string(index=False)´ not to display index for better output
print("------------------------------------------------------------------------------")
print("   Information of Top-5 timestamps for the difference between tmax and tmin   ")
print("------------------------------------------------------------------------------")
print(df_task_b.sort_values(by=["tmax-tmin"],
      ascending=False).head(5).to_string(index=False))

75.0% of the (tmax+tmin)/2 observations are at most one standard deviation away from the total average of (tmax+tmin)/2

------------------------------------------------------------------------------
   Information of Top-5 timestamps for the difference between tmax and tmin
------------------------------------------------------------------------------
                Time  tmax  tmin  tmax-tmin
2022-02-23T00:00:00Z  -2.8 -12.6        9.8
2022-02-27T00:00:00Z   2.4  -7.0        9.4
2022-02-04T00:00:00Z  -2.1 -11.2        9.1
2022-02-12T00:00:00Z   2.3  -4.7        7.0
2022-02-24T00:00:00Z   3.1  -3.1        6.2

## Problem 3. Premier League Table
The file `private/exrc_02/data/XXXXX_prob03_epl.csv` has some English Premier League results, downloaded using [this api](https://github.com/miquel-vv/football_data_api).

Using the full data, generate a league table which has the team name as the index and columns as follows (a win gives 3 points, a draw gives 1 point, and a loss gives 0 points):
* games played
* wins
* draws
* defeats
* goals for - goals against
* points


Sort it with points (most points win). If points are equal, then sorted by
* goal difference (goals for - goals against)
* goals for


The expected result should look something like this (not the same data though):
```
                games  wins  draws  defeats   goals  points
Man City           38    32      4        2  106-27     100
Man United         38    25      6        7   68-28      81
Tottenham          38    23      8        7   74-36      77
Liverpool          38    21     12        5   84-38      75
...
```

## Solution 3. Premium League Table

In [3]:
import pandas as pd
from getpass import getuser
from ast import literal_eval

user = getuser()
csv_location = f'/home/varpha/dan/private/{user}' + \
                f'/exrc_02/data/{user}_prob03_epl.csv'
# csv_location =  "FILE_NAME" ### GIVE FILE_NAME TO RUN THE CODE LOCALLY

# Load input CSV data related to some English Premier League results into pandas DataFrame
df = pd.read_csv(csv_location)

# # Get basic information about data
# print(df.info()) # prints concise summary about DataFrame's structure
# print(df.head()) # prints first five rows - default

# Convert the 'fullTime' column data from string into a python dictionary
# Used Pandas DataFrame method ´apply()´ to convert string into list using ´literal_eval´ method call
df["fullTime"] = df["fullTime"].apply(literal_eval)

# Extract goals fullTime 'fullTime' column to create cloumns 'homeGoals' and 'awayGoals'
df["homeGoals"] = df["fullTime"].apply(lambda x: x["homeTeam"])
df["awayGoals"] = df["fullTime"].apply(lambda x: x["awayTeam"])

# Create two rows per match: one for home team and another for away team
# Used Pandas DataFrame method ´rename()´ to rename the columns and make them unique for both rows
# Used Pandas DataFrame method ´concat()´ to create the final data post concatinating home_team and away_team DataFrames
home_team = df[["homeTeam", "homeGoals", "awayGoals"]].rename(
    columns={"homeTeam": "team", "homeGoals": "gf", "awayGoals": "ga"}
)
away_team = df[["awayTeam", "homeGoals", "awayGoals"]].rename(
    columns={"awayTeam": "team", "awayGoals": "gf", "homeGoals": "ga"}
)
match_data = pd.concat([home_team, away_team], ignore_index=True)

# Print sample data for debugging
# print(matches.head())

# Define function ´result´ to find the output as win, loss or draw using gf (goals for) and ga (goals against) as an input


def result(row):
    if row.gf > row.ga:
        return "win"
    elif row.gf < row.ga:
        return "loss"
    else:
        return "draw"


# Create a new column 'result'
# Used Pandas DataFrame method ´apply()´ to call the custom function ´result´ to determine value as 'win', 'loss' or 'draw'
match_data["result"] = match_data.apply(result, axis=1)

# # Print sample data for debugging
# print(matches.head())
# print(matches.tail())

# Group the match information at each team level
# Used Pandas DataFrame method ´groupby()´
# To get total number of games played (games), sum of goals for (gf) and sum of goals against (ga)
match_summary = match_data.groupby("team").agg(
    games=("team", "count"),
    gf=("gf", "sum"),
    ga=("ga", "sum")
).copy()

# # Print sample data for debugging
# print(match_summary.head())

# Count wins, draws, defeats per team
match_summary["wins"] = match_data.groupby(
    "team")["result"].apply(lambda x: (x == "win").sum())
match_summary["draws"] = match_data.groupby(
    "team")["result"].apply(lambda x: (x == "draw").sum())
match_summary["defeats"] = match_data.groupby(
    "team")["result"].apply(lambda x: (x == "loss").sum())

# # Print sample data for debugging
# print(match_summary.head())

# Add new column 'points' to store the value for - a win gives 3 points, a draw gives 1 point, and a loss gives 0 points
match_summary["points"] = match_summary["wins"] * 3 + \
    match_summary["draws"] + match_summary["defeats"] * 0

# Add new column ´goals' to store value as goals for - goals against ie gf-ga
match_summary["goals"] = match_summary["gf"].astype(
    str) + "-" + match_summary["ga"].astype(str)

# Add new temporary column ´goal-diff' to store value as goals for - goals against - needed for sorting requirement
match_summary["goal-diff"] = match_summary["gf"] - match_summary["ga"]

# Sort the data first with most points, then goals difference and then with goals against (ga)
# Used Pandas DataFrame method sort_values() for sorting
match_summary = match_summary.sort_values(
    by=["points", "goal-diff", "ga"],
    ascending=[False, False, False]
)

# # Print sample data for debugging
# print(match_summary.head())
# print(match_summary.tail())

# Select only required coloumns
match_summary = match_summary[["games", "wins",
                               "draws", "defeats", "goals", "points"]]

# Print the final summary as asked in the task
print(match_summary)

                            games  wins  draws  defeats  goals  points
team
Manchester City FC             38    29      6        3  99-26      93
Liverpool FC                   38    28      8        2  94-26      92
Chelsea FC                     38    21     11        6  76-33      74
Tottenham Hotspur FC           38    22      5       11  69-40      71
Arsenal FC                     38    22      3       13  61-48      69
Manchester United FC           38    16     10       12  57-57      58
West Ham United FC             38    16      8       14  60-51      56
Leicester City FC              38    14     10       14  62-59      52
Brighton & Hove Albion FC      38    12     15       11  42-44      51
Wolverhampton Wanderers FC     38    15      6       17  38-43      51
Newcastle United FC            38    13     10       15  44-62      49
Crystal Palace FC              38    11     15       12  50-46      48
Brentford FC                   38    13      7       18  48-56      46
Aston Villa FC                 38    13      6       19  52-54      45
Southampton FC                 38     9     13       16  43-67      40
Everton FC                     38    11      6       21  43-66      39
Leeds United FC                38     9     11       18  42-79      38
Burnley FC                     38     7     14       17  34-53      35
Watford FC                     38     6      5       27  34-77      23
Norwich City FC                38     5      7       26  23-84      22

## Problem 4. Weather (part 2/2)

The file `private/exrc_02/data/XXXXX_prob04_weather.txt` 
has some (old) weather data from Jyväskylä 1959-2021, again downloaded from [fmi.fi](https://en.ilmatieteenlaitos.fi/open-data-manual-fmi-wfs-services) (not recommended).

Calculate the "snow sum" (not an official meteorological term) for each winter by adding the snow depths for each day of that winter. Start from winter 1959-60 and end to 2019-20 since 1958-59 and 2020-21 are only partial.

Notes:
* You need to define "winter" by yourself.
* FMI uses -1 as snow depth when "there is absolutely no snow at all". We don't want to reduce snow sum in that case, so replace -1 with 0.
* For missing data, assume that the snow depth has been the same as during the previous day. (Fill any `NaN`s with the previous valid value.)

Then produce a DataFrame that has the winter as the index (in form "1959-1960") and columns:
* snow sum
* snow sum rank among winters so that largest = 1
* count of days where snow depth has been positive
* max snow depth of the winter.


The three first and the three last rows should look something like:
```
           Snow sum  rank  count  max
Winter                               
1959-1960      5593    18    169   65
1960-1961      5082    28    162   60
1961-1962      6644    12    156   78

...

2017-2018      6882     8    161   81
2018-2019      4030    42    150   54
2019-2020      1432    59    112   30
```

## Solution 4. Weather (part 2/2)

In [4]:
import pandas as pd
from getpass import getuser

user = getuser()
csv_location = f'/home/varpha/dan/private/{user}' + \
                f'/exrc_02/data/{user}_prob04_weather.csv'
# csv_location =  "FILE_NAME" ### GIVE FILE_NAME TO RUN THE CODE LOCALLY

# Load input CSV data related to old weather data from Jyväskylä 1959-2021
df = pd.read_csv(csv_location)

# # Get basic information about data
# print(df.info()) # prints concise summary about DataFrame's structure
# print(df.head()) # prints first five rows - default

# Create new 'Date' column by combinining 'Year, 'Month' and 'Day' columns
# Used Pandas DataFrame method ´to_datetime()´ to create valid calendar date as CCYY-MM-DD
df["Date"] = pd.to_datetime(df[["Year", "Month", "Day"]])

# Extract only 'Date' and 'Snow depth (cm)' columns
df = df[["Date", "Snow depth (cm)"]].copy()

# # Print sample data and information about dataframe for debugging
# print(df.head())
# print(df.info())  # There are Null entries in 'Snow depth (cm)' column


# Replace -1 with 0 on 'Snow depth (cm)' column
# Used Pandas DataFrame method ´replace()´ to replace value of -1 to 0
df["Snow depth (cm)"] = df["Snow depth (cm)"].replace(-1, 0)

# Fill missing values in 'Snow depth (cm)' column with previous day's snow depth
# Used Pandas DataFrame method ´ffill()´
# Used .ffill() instead of .fillna(method="ffill") since later one is depricated
df["Snow depth (cm)"] = df["Snow depth (cm)"].ffill()

# # Confirm no Null / NaN entries
# print(df.info()) # No Null entries anymore


# Define function to assign winter season as follow
# Sept–Dec -> winter belongs to (year)–(year+1)
# Jan–Aug -> winter belongs to (year-1)–year
def assign_winter(date):
    if date.month >= 9:
        return f"{date.year}-{date.year+1}"
    else:
        return f"{date.year-1}-{date.year}"


# Create new column 'Winter' in the form of (year)-(year+1)
# Used Pandas DataFrame method ´apply()´ to call custom function ´assign_winter()´ get the required value
df["Winter"] = df["Date"].apply(assign_winter)

# # Print sample data for debugging
# print(df.head())

# Keep only data where winters 1959 through 2020 as per requirement
# Used Pandas DataFrame method ´isin()´ to filter the data
valid_winters = [f"{y}-{y+1}" for y in range(1959, 2020)]
# print("valid winters", valid_winters)
df = df[df["Winter"].isin(valid_winters)]

# # Print sample data for debugging
# print(df.head())  # print first 5 rows
# print(df.tail())  # print last 5 rows

# Group the match information at each winter range level
# Used Pandas DataFrame method ´groupby()´ to groupby at ´Winter´ column
snow_stats = df.groupby("Winter").agg(
    # Create a new column ´Snow_sum´ with sum of snow depth
    Snow_sum=("Snow depth (cm)", "sum"),
    # Create column ´count´ count of days where snow depth has been positive
    count=("Snow depth (cm)", lambda x: (x > 0).sum()),
    # Create column ´max´ with max snow depth of the winter
    max=("Snow depth (cm)", "max")
)

# # Print sampe data for debugging
# print(snow_stats.head())

# Create new column ´rank´ to store rank for all the Winter
# Used Pandas DataFrame method ´rank()´ on ´Snow_sum´ coloumn
# ´ascending=False´ used so largest Snow sum get 1st rank
# ´method="min"´ used if there’s a tie, give all tied values the smallest rank number they could take
# ´astype(int)´ used to covert the float into int since ´rank()´ output is float by default
snow_stats["rank"] = snow_stats["Snow_sum"].rank(
    ascending=False, method="min")

# Reorder columns as the per the requirement
snow_stats = snow_stats[["Snow_sum", "rank", "count", "max"]]

# # Print sample data for debugging
# print(snow_stats.head()) # Found float value for ´Snow_sum´, 'rank' and 'max' columns

# Convert the values to int for ´Snow_sum´, 'rank' and 'max' columns
# Used Pandas DataFrame method ´astype()´ method to convert floats to integers
snow_stats[["Snow_sum", "rank", "max"]] = snow_stats[[
    "Snow_sum", "rank", "max"]].astype(int)

# # Print sampe data for debugging
# print(snow_stats.head())

# print(snow_stats.to_string())  # to print the full data as ouput

# Print first and last 3 winters as shown in the Problem 5
print(snow_stats.head(3))
print("...")
print(snow_stats.tail(3))

           Snow_sum  rank  count  max
Winter
1959-1960      5593    18    169   65
1960-1961      5082    28    162   60
1961-1962      6644    12    156   78
...
           Snow_sum  rank  count  max
Winter
2017-2018      6882     8    161   81
2018-2019      4030    42    150   54
2019-2020      1432    59    112   30

## Problem 5. Statfi data wrangle.
- Here we're trying to make some sense out of the data that we downloaded from the statfi service in problem 5 of the first exercises. If you did it successfully, please use your own data. Otherwise you may use the data found in `public/exrc_02/data`.
- That data used the keyword `kihi` and the final table `statfin_kihi_pxt_13zt.px`. You may want to replace them in the front end url below.
- First use [this front end](https://pxdata.stat.fi/PxWeb/pxweb/en/StatFin/StatFin__kihi/statfin_kihi_pxt_13zt.px/) to produce a meaningful table, and then try to produce a similar table with pandas and your data.
- The most elegant solution wins!

## Solution 5. Staffi data wrangle

### In this I used the file downloaded from statfi service related to Railway statistics (rtie) on Problem 5 of Exercise 1

In [ ]:
import json
import pandas as pd

# Data obtained from statfi service in Round 1 Problem-5 => Railway statistics (rtie)
# https://pxdata.stat.fi/PxWeb/pxweb/en/StatFin/StatFin__rtie/statfin_rtie_pxt_12lz.px/

# json_data_location = "prob05.json" ## I used the file which I dowloaded in Problem 5 of Exercise 1


# Read the data into a python dict
with open(json_data_location) as handle:
    rtie_data = json.load(handle)

# # Get basic information about data
# print(type(rtie_data))
# print(list(rtie_data.keys()))
# print(list(rtie_data.values()))

# Convert the data into a pandas dataframe using normalisation
# Used Pandas DataFrame method ´json_normalize()´ to flatten JSON data into tabular DataFrame
df = pd.json_normalize(rtie_data, record_path='data')

# # Sample data
# print(df.head())
'''
           key          values
0  [SSS, 2005]  [48227, 67559]
1  [SSS, 2006]  [50880, 72020]
2  [SSS, 2007]  [52577, 73336]
3  [SSS, 2008]  [53259, 74901]
4  [SSS, 2009]  [50019, 69244]
'''

# Explode the 'key' column into two columns
# Used Pandas DataFrame method ´apply()´ as apply(pd.Series) to convert list into separate columns
df[["type_of_locomotive", "year"]] = df["key"].apply(pd.Series)

# Explode the 'values' column into two 
# Used Pandas DataFrame method ´apply()´ as apply(pd.Series) to convert list into separate columns
df[["trainkilometres", "locomotivekilometres"]] = df["values"].apply(pd.Series)

# Drop the cloumns 'key' and 'values' not needed
# Used Pandas DataFrame method ´drop()´ to drop the required columns
df = df.drop(columns=["key", "values"])

# # Get basic information about data post processing it
# print(df.info()) # display concise summary about dataframe
# print(df.head()) # display first five rows by default

# Convert columns 'year', 'trainkilometres' & 'locomotivekilometres' data into numeric form to perform calculations
# Used Pandas DataFrame method ´to_numeric()´ to convert the values to numeric (int/float)
df["year"] = pd.to_numeric(df["year"], errors='coerce')
df["trainkilometres"] = pd.to_numeric(df["trainkilometres"], errors='coerce')
df["locomotivekilometres"] = pd.to_numeric(
    df["locomotivekilometres"], errors='coerce')

# # Check and confirm the information post converting the data
# print(df.info()) # display concise summary about dataframe
# print(df.head()) # display first five rows - default

# # Write to a CSV file for debugging and anlysis purpose
# df.to_csv("prob05_output_report.csv", index=False)

# Group by using 'type_of_locomotive' column and compute average for 'trainkilometres' and 'locomotivekilometres' columns
# Used Pandas DataFrame method ´groupby()´ to summarise with respect to type_of_locomotive
df_summary = (
    df.groupby("type_of_locomotive")[
        ["trainkilometres", "locomotivekilometres"]].mean()
)

# Rename the 'trainkilometres' and 'locomotivekilometres' columns to meaningfule names
# Used Pandas DataFrame method ´rename()´ to rename the column names
df_summary.rename(columns={
    "trainkilometres": "average_train_km_year",
    "locomotivekilometres": "average_locomotive_km_year"
}, inplace=True)


# Sort the data with 'average_train_km_year' column on descending order
# Used Pandas DataFrame method ´sort_values()´ for sorting the data
# Used Pandas DataFrame method `copy()` to create a true independent copy as a best practice
df_final_result = df_summary.sort_values(
    by=["average_train_km_year"], ascending=False).copy()

# Print the final outcome which summarise the data
# print(df_final_result)

'''
                    average_train_km_year  average_locomotive_km_year
type_of_locomotive                                                   
SSS                              49667.00                    68715.85
050                              43002.75                    53437.15
060                              26892.60                    31354.00
070                              16110.15                    22083.15
010                               6664.35                    15278.70
020                               5172.65                    13420.70
040                               1491.70                     1858.00

'''

'''
Usage summary (most to least activity)
    - SSS locomotives have the highest usage, averaging about ~50k train km and ~69k locomotive km per year
    - 050 locomotives are next, with roughly ~43k train km and ~53k locomotive km per year
    - 060 locomotives follow, averaging around ~27k train km and ~31k locomotive km per year
    - 070 locomotives show moderate activity, with about ~16k train km and ~22k locomotive km year
    - 010 locomotives record lower usage, roughly ~7k train km and ~15k locomotive km per year
    - 020 locomotives are similar, at about ~5k train km and ~13k locomotive km year
    - 040 locomotives show the least activity, with only ~1.5k train km and ~2k locomotive km per year
'''

## How to submit my solutions?

Open a Terminal tab (e.g. <tt>File $\rightarrow$ New $\rightarrow$ Terminal</tt>, copy-paste the following into the Terminal command prompt, and press enter:
<pre>
  /home/varpha/dan/menu.py
</pre>