<!-- Comments in markdown   -->
### What to study
pd.read_json(), pd.read_csv(), pd.read_excel() \ 
df.to_csv()
properties of Series and DataFrame

###

###

In [2]:
import pandas as pd
print(pd.__version__)

2.3.2

### head() tail() describe() info() columns

In [14]:
df = pd.read_csv("sample_students.csv")
print(type(df))
# print(df.head())
# print(df.tail())
# print(df.info())
# print(df.describe())
# print(df.columns)
# print(df.shape)

df = pd.Series([1,2,3])
print(df)
print(type(df))

<class 'pandas.core.frame.DataFrame'>
0    1
1    2
2    3
dtype: int64
<class 'pandas.core.series.Series'>

### Selecting specific cols by name
### Selecting sepcific rows using condition

In [31]:
df = pd.read_csv("sample_students.csv")
df_first_col = df.iloc[:, :1]
# print(type(df_first_col))
# print(df_first_col)
print(df["Name"].head())
print(df[["Name"]].head())
# print(df["Age"].head())
# print(df[["Age","Name"]].head())
# print(df[df["Age"] > 25])
# print(df[(df["Age"] > 25) & (df["City"] == "Toronto")])

0      Alice
1    Charlie
2    Charlie
3        Ian
4      David
Name: Name, dtype: object
      Name
0    Alice
1  Charlie
2  Charlie
3      Ian
4    David

### Adding New Cols using name df["newcol"], df.insert()

In [26]:
dfcopy = df.copy()
print(dfcopy.info())
dfcopy = dfcopy['Name']
print(dfcopy.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    20 non-null     object
 1   Age     20 non-null     int64
 2   City    20 non-null     object
dtypes: int64(1), object(2)
memory usage: 612.0+ bytes
None
<class 'pandas.core.series.Series'>
RangeIndex: 20 entries, 0 to 19
Series name: Name
Non-Null Count  Dtype
--------------  -----
20 non-null     object
dtypes: object(1)
memory usage: 292.0+ bytes
None

In [64]:
df = pd.DataFrame({
    "Department": ["IT", "IT", "HR", "HR", "Finance"],
    "Salary": [60000, 65000, 50000, 52000, 70000]
})

df["EmployeeID"] = [1,2,3,4,5]
print(df)

df.insert(0,"RowNo", [10,20,20,20,50])
print(df)

  Department  Salary  EmployeeID
0         IT   60000           1
1         IT   65000           2
2         HR   50000           3
3         HR   52000           4
4    Finance   70000           5
   RowNo Department  Salary  EmployeeID
0     10         IT   60000           1
1     20         IT   65000           2
2     20         HR   50000           3
3     20         HR   52000           4
4     50    Finance   70000           5

### handling nan / None
np.na np.notna np.null np.notnull drop_na fill_na

In [44]:
import numpy as np
dict = {
    "Name": ["john", None, np.nan],
    "Age": [26, None, 27]
}

df = pd.DataFrame(dict)
# print(df.info())
# print(df.isna())
# print(df.isna().sum())
# print(df.dropna())
# print(df)
df["Age"].interpolate(method="linear", inplace=True)
print(df)

   Name   Age
0  john  26.0
1  None  26.5
2   NaN  27.0

/var/folders/0t/k860jmxx4d5__9h3p08nh77m0000gn/T/ipykernel_66670/1191509696.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].interpolate(method="linear",inplace=True)

### loc vs iloc
### iloc needs index and slicing and loc needs index and columns

In [43]:
### loc vs iloc
import pandas as pd

dict = {
    "Name": ["john", "jack", "gill"],
    "Age": [26, 24, 28],
    "City": ["NY", "CT", "IN"]
}

df = pd.DataFrame(dict)
df.loc[0,"Name"]="Dinesh"
print(df["Name"])
# print(type(df["Name"])) # returns Series (col: Series, col:Series)
# print(df[["Name"]])
# print(type(df[["Name"]])) # returns DataFrame

# print(df.loc[:,"Name"])
# print(df.loc[df["Age"] > 24,"Name"]) # returns Series
# print(df.loc[df["Age"] > 24,["Name"]]) # returns DataFrame

print(df.iloc[:,-1]) # returns Series
print(df.iloc[:,-1:]) # returns Dataframe ie slice preserve the dimension

0    Dinesh
1      jack
2      gill
Name: Name, dtype: object
0    NY
1    CT
2    IN
Name: City, dtype: object
  City
0   NY
1   CT
2   IN

## Sorting

In [56]:
df = pd.DataFrame({"Name": ["John", "David", "Pat", "Tim"],
                    "Age": [30, 27, 28, 50 ]})
print(df)
df.sort_values(by=["Age"],ascending=False, inplace=True)
print("Post Sort\n", df)

    Name  Age
0   John   30
1  David   27
2    Pat   28
3    Tim   50
Post Sort
     Name  Age
3    Tim   50
0   John   30
2    Pat   28
1  David   27

### Merging

In [55]:
df1 = pd.DataFrame({"CustId": [10, 20],
                    "Name": ["John","Dan"]})
df2 = pd.DataFrame({"CustId": [20, 30],
                    "City": ["Delhi","Goa"]})

print(pd.merge(df1,df2, on ="CustId", how="inner"))
print(pd.merge(df1,df2, on ="CustId", how="outer"))
print(pd.merge(df1,df2, on ="CustId", how="left"))
print(pd.merge(df1,df2, on ="CustId", how="right"))

   CustId Name   City
0      20  Dan  Delhi
   CustId  Name   City
0      10  John    NaN
1      20   Dan  Delhi
2      30   NaN    Goa
   CustId  Name   City
0      10  John    NaN
1      20   Dan  Delhi
   CustId Name   City
0      20  Dan  Delhi
1      30  NaN    Goa

### Concate

In [51]:
df1 = pd.DataFrame({"Name": ["John", "David"],
                    "Age": [26,27]})
df2 = pd.DataFrame({"Name": ["Martin", "Josh"],
                    "Age": [30,40]})

print(pd.concat([df1,df2],axis=0,ignore_index=True))
print(pd.concat([df1,df2],axis=1,ignore_index=True))

     Name  Age
0    John   26
1   David   27
2  Martin   30
3    Josh   40
       0   1       2   3
0   John  26  Martin  30
1  David  27    Josh  40

### Group By

In [62]:
df = pd.DataFrame({
    "Department": ["IT", "IT", "HR", "HR", "Finance"],
    "Salary": [60000, 65000, 50000, 52000, 70000],
    "EmployeeID": [123, 456, 467, 23423, 9999]
})

print(df.groupby("Department")["Salary"].mean())
print(df.groupby("Department", as_index=False)["Salary"].mean())
print(df.groupby("Department")["Salary"].agg(["mean", "min", "max"]))

df.groupby("Department").agg({
    "Salary": ["mean", "sum"],
    "EmployeeID": "count"
})

Department
Finance    70000.0
HR         51000.0
IT         62500.0
Name: Salary, dtype: float64
  Department   Salary
0    Finance  70000.0
1         HR  51000.0
2         IT  62500.0
               mean    min    max
Department
Finance     70000.0  70000  70000
HR          51000.0  50000  52000
IT          62500.0  60000  65000

             Salary         EmployeeID
               mean     sum      count
Department
Finance     70000.0   70000          1
HR          51000.0  102000          2
IT          62500.0  125000          2